#courses-wrapper {
  .light-purple-border {
    border: 2px solid #D1CAFF !important;
    border-radius: 10px;
  }

  .purple-border {
    border: 2px solid #A3A3FF !important;
    border-radius: 10px;
  }

  .light-blue-border {
    border: 2px solid #CAF4EA !important;
    border-radius: 10px;
  }

  .pink-border {
    border: 2px solid #FECECF !important;
    border-radius: 10px;
  }

  .light-orange-border {
    border: 2px solid #FFC27F !important;
    border-radius: 10px;
  }

  .blue-border {
    border: 2px solid #81E3F0 !important;
    border-radius: 10px;
  }

  .light-dark-blue-border {
    border: 2px solid #94BFFF !important;
    border-radius: 10px;
  }

  .light-pink-border {
    border: 2px solid #F0EBFF !important;
    border-radius: 10px;
  }

  .orange-border {
    border: 2px solid #FFBD59 !important;
    border-radius: 10px;
  }

  .grey-border {
    border: 2px solid #dff8ff !important;
    border-radius: 10px;
  }

  .light-green-border {
    border: 2px solid #C4FDEF !important;
    border-radius: 10px;
  }

  .yellow-border {
    border: 2px solid #FFE64B !important;
    border-radius: 10px;
  }

  .light-yellow-border {
    border: 2px solid #FFF4BB !important;
    border-radius: 10px;
  }

  .light-purple-color {
    color: #D1CAFF !important;
  }

  .purple-color {
    color: #A3A3FF !important;
  }

  .light-blue-color {
    color: #CAF4EA !important;
  }

  .pink-color {
    color: #FECECF !important;
  }

  .light-orange-color {
     color: #FFC27F !important;
  }

  .blue-color {
    color: #81E3F0 !important;
  }

  .light-dark-blue-color {
    color: #94BFFF !important;
  }

  .light-pink-color {
    color: #F0EBFF !important;
  }

  .orange-color {
    color: #FFBD59 !important;
  }

  .grey-color {
    color: #dff8ff !important;
  }

  .light-green-color {
    color: #C4FDEF !important;
  }

  .yellow-color {
    color: #FFE64B !important;
  }

  .light-yellow-color {
    color: #FFF4BB !important;
  }

  .course-container {
    width: 1500px;
    margin: auto;

    .course-header {
      margin-top: 100px;

      .header__title {
        width: 100%;
        height: 700px;
        padding: 70px 215px;
        box-sizing: border-box;
        border-radius: 15px;
        background: #60B3FF;

        .title__txt {
          width: 500px;

          .title {
            color: black;
          }

          .light-grey-txt {
            margin: 20px 0;
            opacity: 1 !important;
            color: black;
          }

          .txt__btn {
            width: 270px;
            height: 56px;
            padding: 18px 48px;
            border-radius: 12px;
            font-size: 18px;
            font-weight: 500;
            color: white;
            background: blue;
            border: none;
          }
        }

        .title__img {
          img {
            width: 470px;
            height: 470px;
          }
        }
      }

      .header__inf {
        width: 1170px;
        height: 120px;
        margin: 80px auto 0;

        .inf__item {
          align-items: baseline !important;
          border: 2px solid #60B3FF;
          border-radius: 10px;
          padding: 10px;
          color: white;
          text-align: center;

          .small-title {
            margin-bottom: 10px;
          }
        }
      }
    }

    .header-text {
      width: 1170px;
      margin: 130px auto;
      border: 2px solid #60B3FF;
      border-radius: 10px;
      padding: 20px;
      box-sizing: border-box;
      text-align: center;

      .text {
        font-size: 28px;
        color: white;
        line-height: 44px;
        margin-bottom: 65px;
      }
    }

    .job-inf-container {
      width: 800px;
      margin: auto;
      color: white;

      .job-inf__item {
        text-align: center;
        border: 2px solid #60B3FF;
        border-radius: 10px;
        padding: 10px;
      }
    }

    .header-job-inf {
      margin-top: 100px;
      padding: 20px;

      .text {
        width: 350px;
        padding: 10px;
      }

      .job-inf {
        .job-inf__item {
          margin-bottom: 20px;
        }
      }
    }

    .for-who {
      width: fit-content;
      margin: 200px auto 0;
      text-align: left;
      color: white;

      .for-who__content_small {
        width: 1300px;
        margin-top: 80px;

        .content__item{
          width: 630px;

          .item__txt {
            width: 430px;
          }
        }
      }

      .for-who__content {
        width: 1150px;
        align-items: baseline !important;
        margin-top: 80px;
      }

      .content__item {
        width: 330px;

        img {
          width: 164px;
          height: 164px;
        }

        .small-title {
          margin: 25px 0 10px;
        }
      }
    }

    .skills {
      width: 1300px;
      margin: 150px auto 0;
      color: white;

      .skills__row {
        margin-top: 45px;
        align-items: baseline !important;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .skills__item {
        width: 350px;
        border: 2px solid #60B3FF;
        border-radius: 10px;
        padding: 10px;

        i {
          font-size: 20px;
        }

        .small-title {
          font-size: 22px !important;
          margin-top: 10px;
        }

        .light-grey-txt {
          font-size: 18px !important;
          margin-top: 10px;
        }
      }
    }

    .projects {
      width: 1170px;
      margin: 100px auto 0;
      text-align: left;

      .title {
        margin-bottom: 50px;
      }

      .projects__content {
        .content__img {
          img {
            width: 670px;
            height: 380px;
          }
        }

        .content__text {
          width: 440px;
          height: 380px;
          position: relative;
          color: white;

          .light-grey-txt {
            margin: 10px 0;
          }

          .text__controls {
            width: 123px;
            position: absolute;
            bottom: 0;
            left: 0;

            button {
              i {
                color: #60B3FF;
                font-size: 25px;
              }
            }
          }
        }
      }
    }

    .how-use {
      width: 1300px;
      margin: 100px auto 0;

      .title {
        margin-bottom: 100px;
      }

      .how-use__content {
        .content__item {
          width: 270px;
          height: 490px;
          background: white;
          border-radius: 10px;
          border: 2px solid #60B3FF;
          position: relative;

          .item__text {
            padding: 25px;

            .text__circle {
              width: 36px;
              height: 36px;
              border-radius: 50%;
              background: #60B3FF;
              font-weight: 500;
              font-size: 18px;
            }

            .small-title {
              margin: 15px 0 10px;
            }

            .light-grey-txt {
              color: black !important;
              opacity: 1 !important;
            }
          }

          .item__img {
            width: 100%;
            height: 180px;
            position: absolute;
            bottom: 0;
            background: black;
            margin-top: 117px;
            border-radius: 0 0 10px 10px;

            img {
              display: block;
              width: 225px;
              height: 140px;
            }
          }
        }
      }
    }
  }
}