@media screen and(max-width: 1515px) {
  #courses-wrapper {
    .course-container {
      width: fit-content;

      .course-header {
        .header__title {
          width: 100%;
          height: 600px;
          padding: 60px 185px;
        }
      }

      .employment {
        padding: 75px 20px;

        .employment__header {
          text-align: center;
          flex-direction: column;

          .header__text {
            width: 600px !important;
          }
        }
      }
    }
  }
}

@media screen and(max-width: 1385px) {
  #courses-wrapper {
    .course-container {
      .content {
        width: 1000px !important;
        padding: 55px 90px 60px !important;

        .content__container {
          .content__courses {
            .courses__item {
              &:hover {
                .title__btn {
                  background: white !important;

                  i {
                    color: black !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 1365px) {
  #courses-wrapper {
    .header__title {
      height: 500px !important;
      padding: 50px 155px !important;

      .title__img {
        img {
          width: 370px !important;
          height: 370px !important;
        }
      }
    }

    .for-who {
      text-align: center !important;
    }

    .for-who__content_small {
      width: fit-content !important;
      height: 850px;
      flex-direction: column;
      margin: auto;

      .content__item {
        width: fit-content !important;
        flex-direction: column;
      }
    }

    .skills {
      width: fit-content !important;

      .title {
        text-align: center;
      }

      .skills__row {
        width: fit-content;
        flex-direction: column;
        margin: auto;

        .skills__item {
          margin-bottom: 50px;
        }
      }
    }
  }
}

@media screen and(max-width: 1300px) {
  #courses-wrapper {
    .how-use {
      width: fit-content !important;

      .how-use__content {
        height: 2250px;
        flex-direction: column;
      }
    }

    .employment {
      padding: 75px 0 !important;
    }

    .employment__career-center {
      .title {
        text-align: center;
      }

      .slider__list {
        width: fit-content !important;
        flex-direction: column;
        margin: auto;

        .list__item {
          margin-right: 0 !important;
          margin-bottom: 30px;

          .invisible-text {
            opacity: 1 !important;
          }

          .item__txt {
            display: none;
          }
        }
      }

      .text__controls {
        display: none;
      }
    }

    .employment__guarantees {
      width: fit-content;
      flex-direction: column-reverse;
      margin: auto;

      .guarantees__users {
        margin: 100px auto auto auto !important;
      }

      .guarantees__text {
        width: fit-content !important;

        .title {
          margin-bottom: 75px !important;
          text-align: center;
        }
      }
    }

    .employment__reviews {
      .title {
        text-align: center;
      }

      .slider__list {
        flex-direction: column;
        margin: auto;

        .list__item {
          margin-right: 0 !important;
          margin-bottom: 30px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .text__controls {
        display: none;
      }
    }
  }
}

@media screen and(max-width: 1200px) {
  #courses-wrapper {
    .course-container {
      .content {
        width: 900px !important;
        padding: 45px 80px 50px !important;

        .content__container {
          width: 770px;
        }
      }
    }
  }
}

@media screen and(max-width: 1180px) {
  #courses-wrapper {
    .course-container {
      width: 100% !important;
    }

    .header__title {
      width: fit-content !important;
      height: 700px !important;
      flex-direction: column;
      margin: auto !important;
      padding: 30px 100px !important;
      text-align: center !important;

      .title__img {
        img {
          width: 300px !important;
          height: 300px !important;
        }
      }

      .title__txt {
        .title {
          font-size: 40px !important;
        }

        .txt__btn {
          width: 230px !important;
          height: 46px !important;
          padding: 15px 38px !important;
          font-size: 17px !important;
          margin: auto;
        }
      }
    }

    .header__inf {
      width: 1000px !important;
    }

    .header-text {
      width: 900px !important;

      .text {
        font-size: 23px !important;
        line-height: 35px !important;
        margin-bottom: 40px !important;
      }

      .job-inf-container {
        width: fit-content !important;
        height: 200px;
        flex-direction: column;
        margin: auto !important;
      }
    }

    .for-who__content {
      width: fit-content !important;
      height: 1200px;
      flex-direction: column;
      margin: auto;
    }

    .projects {
      width: fit-content !important;
      text-align: center !important;

      .projects__content {
        height: 900px;
        flex-direction: column;

        .content__text {
          .text__controls {
            width: 250px !important;
            height: fit-content;
            left: 98px !important;

            span {
              font-size: 30px;
            }

            button i {
              font-size: 45px !important;
            }
          }
        }
      }
    }

    .employment__wrapper {
      width: fit-content !important;
      margin: auto;
    }
  }
}

@media screen and(max-width: 1070px) {
  #courses-wrapper {
    .course-container {
      .content {
        width: 800px !important;
        padding: 35px 70px 40px !important;

        .content__container {
          width: 670px;

          .text {
            font-size: 16px !important;
            line-height: 25px !important;
          }

          .small-title {
            max-width: 550px !important;
            font-size: 18px !important;
          }

          .content__title {
            margin-bottom: 80px;

            .title {
              font-size: 40px !important;
            }

            .title__text {
              width: 400px;


              .text__descriptions {
                width: 265px;

                .text__description {
                  .description__count {
                    width: 55px !important;
                    height: 35px !important;
                    margin-right: 10px;

                    .number {
                      font-size: 14px;
                    }
                  }

                  .light-grey-txt {
                    font-size: 14px;
                    line-height: 18px;
                  }
                }
              }
            }
          }

          .content__courses {
            .courses__title {
              width: 670px;
              margin-bottom: 40px;

              .subtitle {
                font-size: 30px;
                margin-bottom: 20px;
              }
            }

            .courses__item {
              height: 70px;

              .courses__item_big {
                height: 90px;
              }

              p {
                padding-bottom: 20px;
              }

              .item__title {
                padding: 20px 0;

                .title__btn {
                  width: 25px;
                  height: 25px;

                  i {
                    font-size: 19px;
                  }
                }
              }

              .item__list {
                padding: 0 0 20px 55px;

                li {
                  margin-bottom: 20px;
                  padding-left: 8px;
                }
              }
            }
          }

          .content__note {
            width: 550px;
          }
        }
      }
    }
  }
}

@media screen and(max-width: 1060px) {
  #courses-wrapper {
    .header__title {
      .title__img {
        img {
          width: 250px !important;
          height: 250px !important;
        }
      }
    }

    .title__txt {
      width: 480px !important;

      .title {
        font-size: 35px !important;
      }

      .txt__btn {
        margin: auto !important;
      }
    }

    .header__inf {
      width: fit-content !important;
      height: 500px !important;
      flex-direction: column !important;
      margin: 100px auto !important;
    }
  }
}

@media screen and(max-width: 960px) {
  #courses-wrapper {
    .course-container {
      .content {
        width: 700px !important;
        padding: 35px 60px 40px !important;
      }
    }
  }
}

@media screen and(max-width: 915px) {
  #courses-wrapper {
    .header-text {
      width: 700px !important;

      .text {
        font-size: 21px !important;
        line-height: 30px !important;
      }
    }
  }
}

@media screen and(max-width: 850px) {
  .header-job-inf {
    width: fit-content !important;
    height: 350px;
    flex-direction: column;
    margin: auto;
  }
}

@media screen and(max-width: 835px) {
  #courses-wrapper {
    .course-container {
      .content {
        width: 600px !important;
        padding: 35px 50px 40px !important;

        .content__container {
          width: 570px;

          .small-title {
            max-width: 420px !important;
          }

          .text {
            font-size: 15px !important;
            line-height: 20px !important;
          }

          .subtitle {
            font-size: 27px !important;
            margin-bottom: 0 !important;
          }

          .content__title {
            .title {
              font-size: 35px !important;
            }

            .title__text {
              width: 350px;
            }
          }

          .content__courses {
            .courses__title {
              width: 570px;
              margin-bottom: 40px;

              .text {
                margin-top: 20px;
              }
            }

            .courses__item {
              height: 60px;
            }

            .courses__item_big {
              height: 90px;
            }
          }

          .content__note {
            width: 520px;
          }
        }
      }
    }
  }
}

@media screen and(max-width: 710px) {
  #courses-wrapper {
    .header__title {
      padding: 30px 50px !important;
    }

    .header-text {
      width: 500px !important;

      .text {
        font-size: 18px !important;
        line-height: 27px !important;
      }
    }

    .employment__guarantees {
      .title {
        font-size: 40px !important;
        line-height: 50px !important;
      }

      .guarantees {
        width: fit-content !important;
      }
    }

    .course-container {
      .content {
        width: 500px !important;
        padding: 35px 20px 40px !important;

        .content__container {
          width: 400px;

          .small-title {
            max-width: 350px !important;
            font-size: 16px !important;
          }

          .text {
            font-size: 14px !important;
          }

          .subtitle {
            font-size: 25px !important;
          }

          .content__title {
            flex-direction: column;

            .title {
              font-size: 30px !important;
              margin-bottom: 30px;
            }

            .title__text {
              width: 280px !important;

              .text__descriptions {
                width: 270px;
                margin-top: 30px;
              }
            }
          }

          .content__courses {
            .courses__title {
              width: 400px;
              margin-bottom: 40px;

              .text {
                margin-top: 20px;
              }
            }

            .courses__item_big {
              height: 80px;
            }

            .objects-classes {
              height: 80px;
            }
          }

          .content__note {
            width: 390px;

            .note__circle {
              width: 38px;
              height: 38px;
              font-size: 16px;
            }

            .note__text {
              width: 300px;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 680px) {
  #courses-wrapper {
    .projects {
      .title {
        font-size: 40px !important;
      }

      .projects__content {
        height: 800px !important;

        .content__img {
          img {
            width: 500px !important;
            height: 280px !important;
          }
        }
      }
    }

    .course-container {
      .employment {
        .employment__header {
          .header__text {
            width: 400px !important;

            .title {
              font-size: 38px !important;
              margin-bottom: 40px !important;
            }

            .light-grey-txt {
              font-size: 16px !important;
            }
          }

          .header__photographs {
            width: fit-content !important;
          }
        }
      }
    }
  }
}

@media screen and(max-width: 610px) {
  #courses-wrapper {
    .employment__reviews {
      .title {
        font-size: 40px !important;
      }
    }
  }
}

@media screen and(max-width: 590px) {
  #courses-wrapper {
    .header__title {
      padding: 30px 40px !important;

      .title__txt {
        width: 380px !important;

        .title {
          font-size: 30px !important;
        }

        .light-grey-txt {
          font-size: 15px !important;
        }
      }
    }

    .how-use {
      .title {
        font-size: 40px !important;
      }
    }
  }
}

@media screen and(max-width: 550px) {
  #courses-wrapper {
    .course-container {
      .content {
        width: 400px !important;

        .content__container {
          width: 300px;

          .text {
            font-size: 13px !important;
          }

          .small-title {
            max-width: 270px !important;
            font-size: 15px !important;
          }

          .content__courses {
            .courses__title {
              width: 300px;
              margin-bottom: 20px;
            }

            .big-item {
              height: 80px;
            }

            .courses__item {
              .title__btn {
                width: 22px !important;
                height: 22px !important;

                i {
                  font-size: 16px !important;
                }
              }
            }
          }

          .content__note {
            width: 300px;

            .note__circle {
              width: 35px;
              height: 35px;
              font-size: 15px;
            }

            .note__text {
              width: 230px;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 510px) {
  #courses-wrapper {
    .header-text {
      width: 320px !important;

      .text {
        font-size: 15px !important;
        line-height: 22px !important;
      }
    }

    .for-who {
      .for-who__content_small {
        height: 750px !important;

        .item__txt {
          width: fit-content !important;
        }
      }

      .title {
        font-size: 38px !important;
      }

      .light-grey-txt {
        font-size: 14px !important;
      }
    }

    .projects {
      .title {
        font-size: 35px !important;
      }

      .projects__content {
        height: 640px !important;

        .content__img {
          img {
            width: 350px !important;
            height: 200px !important;
          }
        }
      }
    }

    .employment__header {
      .photographs__main {
        width: 200px !important;
        height: 200px !important;
      }

      .photographs__medium {
        width: 95px !important;
        height: 95px !important;
      }

      .photographs__small {
        width: 70px !important;
        height: 70px !important;
      }

      .photographs__very-small {
        width: 50px !important;
        height: 50px !important;
      }

      @keyframes top-left {
        from {
          transform: translate(-90px, -160px)
        }
        to {
          transform: translate(-90px, -130px)
        }
      }

      @keyframes bottom-right {
        from {
          transform: translate(90px, 170px)
        }
        to {
          transform: translate(90px, 145px)
        }
      }

      @keyframes top-right {
        from {
          transform: translate(160px, -40px)
        }
        to {
          transform: translate(160px, -20px)
        }
      }

      @keyframes bottom-left {
        from {
          transform: translate(-110px, 70px)
        }
        to {
          transform: translate(-110px, 110px)
        }
      }

      @keyframes aic {
        from {
          transform: translate(95px, -125px)
        }
        to {
          transform: translate(95px, -100px)
        }
      }

      @keyframes mailru {
        from {
          transform: translate(0, 175px)
        }
        to {
          transform: translate(0, 205px)
        }
      }

      @keyframes vk {
        from {
          transform: translate(165px, 90px)
        }
        to {
          transform: translate(165px, 75px)
        }
      }

      @keyframes youla {
        from {
          transform: translate(-170px, 0)
        }
        to {
          transform: translate(-170px, -30px)
        }
      }
    }

    .employment__reviews {
      .title {
        font-size: 33px !important;
      }

      .slider__list {
        .list__item {
          width: 400px !important;
          height: 250px !important;
          padding: 35px !important;

          .subtitle {
            font-size: 20px !important;
          }

          .light-grey-txt {
            font-size: 14px !important;
          }
        }
      }
    }
  }
}

@media screen and(max-width: 465px) {
  #courses-wrapper {
    .header__title {
      padding: 30px 30px !important;

      .title__txt {
        width: 300px !important;

        .title {
          font-size: 26px !important;
        }

        .light-grey-txt {
          font-size: 13px !important;
        }
      }
    }

    .projects {
      .title {
        font-size: 35px !important;
      }

      .projects__content {
        height: 640px !important;

        .content__img {
          img {
            width: 350px !important;
            height: 200px !important;
          }
        }

        .content__text {
          width: 340px !important;
          height: 400px !important;

          .small-title {
            font-size: 18px !important;
          }

          .light-grey-txt {
            font-size: 14px !important;
          }

          .text__controls {
            left: 45px !important;
          }
        }
      }
    }

    .how-use {
      .title {
        font-size: 30px !important;
      }
    }
  }
}

@media screen and(max-width: 450px) {
  #courses-wrapper {
    .course-container {
      .content {
        width: 300px !important;

        .content__container {
          width: 250px;

          .text {
            font-size: 12px !important;
            line-height: 18px !important;
          }

          .small-title {
            max-width: 200px !important;
            font-size: 13px !important;
          }

          .subtitle {
            font-size: 23px !important;
            line-height: 35px;
          }

          .content__courses {
            .courses__title {
              width: 250px;
            }

            .courses__item_big {
              height: 90px;
            }

            .reset-height_big {
              height: 80px;
            }

            .reset-height {
              height: 60px !important;
            }

            .courses__item {
              .title__btn {
                width: 20px !important;
                height: 20px !important;

                i {
                  font-size: 14px !important;
                }
              }
            }
          }

          .content__note {
            width: 250px;

            .note__circle {
              width: 30px;
              height: 30px;
              font-size: 13px;
            }

            .note__text {
              width: 200px;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 440px) {
  #courses-wrapper {
    .course-container {
      .employment {
        .employment__header {
          .header__text {
            width: 300px !important;

            .title {
              font-size: 30px !important;
              margin-bottom: 30px !important;
            }

            .light-grey-txt {
              font-size: 14px !important;
            }
          }

          .photographs__main {
            width: 180px !important;
            height: 180px !important;
          }

          .photographs__medium {
            width: 85px !important;
            height: 85px !important;
          }

          .photographs__small {
            width: 60px !important;
            height: 60px !important;
          }

          .photographs__very-small {
            width: 40px !important;
            height: 40px !important;
          }

          @keyframes top-left {
            from {
              transform: translate(-70px, -140px)
            }
            to {
              transform: translate(-70px, -110px)
            }
          }

          @keyframes bottom-right {
            from {
              transform: translate(70px, 150px)
            }
            to {
              transform: translate(70px, 125px)
            }
          }

          @keyframes top-right {
            from {
              transform: translate(140px, -20px)
            }
            to {
              transform: translate(140px, 0)
            }
          }

          @keyframes bottom-left {
            from {
              transform: translate(-90px, 50px)
            }
            to {
              transform: translate(-90px, 90px)
            }
          }

          @keyframes aic {
            from {
              transform: translate(75px, -105px)
            }
            to {
              transform: translate(75px, -80px)
            }
          }

          @keyframes mailru {
            from {
              transform: translate(-20px, 155px)
            }
            to {
              transform: translate(-20px, 185px)
            }
          }

          @keyframes vk {
            from {
              transform: translate(145px, 70px)
            }
            to {
              transform: translate(145px, 55px)
            }
          }

          @keyframes youla {
            from {
              transform: translate(-150px, -20px)
            }
            to {
              transform: translate(-150px, -10px)
            }
          }
        }
      }
    }

    .employment__reviews {
      .title {
        font-size: 27px !important;
        margin-bottom: 30px !important;
      }

      .slider__list {
        .list__item {
          width: 350px !important;
          height: 200px !important;
          padding: 30px !important;

          .subtitle {
            font-size: 18px !important;
          }

          .light-grey-txt {
            font-size: 11.7px !important;
          }
        }
      }
    }
  }
}

@media screen and(max-width: 420px) {
  #courses-wrapper {
    .header-job-inf {
      height: 370px;

      .text {
        width: 260px !important;
        text-align: center;
      }
    }

    .skills {
      .title {
        font-size: 37px !important;
      }

      .skills__row {
        .skills__item {
          width: 300px !important;

          i {
            font-size: 18px;
          }

          .small-title {
            font-size: 20px !important;
          }

          .light-grey-txt {
            font-size: 16px !important;
          }
        }
      }
    }

    .employment {
      .guarantees__users {
        width: 330px !important;
        height: 360px !important;

        .users__title {
          .title {
            font-size: 35px !important;
            line-height: 40px !important;
          }

          .small-title {
            font-size: 18px !important;
            margin: 15px 0 25px !important;
          }
        }

        .users__item {
          width: 270px !important;
          padding: 10px 10px 10px 15px !important;

          .subtitle {
            font-size: 25px !important;
          }
        }
      }

      .guarantees__text {
        .title {
          font-size: 35px !important;
          padding-left: 8px;
        }

        .light-grey-txt {
          font-size: 15px !important;
        }

        .text__item {
          padding-left: 10px;
        }
      }
    }
  }
}

@media screen and(max-width: 390px) {
  #courses-wrapper {
    .projects {
      .title {
        font-size: 33px !important;
      }

      .projects__content {
        .content__img {
          img {
            width: 300px !important;
            height: 180px !important;
          }
        }

        .content__text {
          width: 320px !important;
          height: 380px !important;

          .small-title {
            font-size: 17px !important;
          }

          .light-grey-txt {
            font-size: 13px !important;
          }

          .text__controls {
            left: 40px !important;
          }
        }
      }
    }

    .course-container {
      .employment {
        .employment__header {
          .photographs__main {
            width: 170px !important;
            height: 170px !important;
          }

          .photographs__medium {
            width: 75px !important;
            height: 75px !important;
          }

          .photographs__small {
            width: 50px !important;
            height: 50px !important;
          }

          .photographs__very-small {
            width: 30px !important;
            height: 30px !important;
          }

          @keyframes top-left {
            from {
              transform: translate(-60px, -130px)
            }
            to {
              transform: translate(-60px, -100px)
            }
          }

          @keyframes bottom-right {
            from {
              transform: translate(60px, 140px)
            }
            to {
              transform: translate(60px, 115px)
            }
          }

          @keyframes top-right {
            from {
              transform: translate(120px, -10px)
            }
            to {
              transform: translate(120px, -10px)
            }
          }

          @keyframes bottom-left {
            from {
              transform: translate(-80px, 40px)
            }
            to {
              transform: translate(-80px, 80px)
            }
          }

          @keyframes aic {
            from {
              transform: translate(65px, -95px)
            }
            to {
              transform: translate(65px, -70px)
            }
          }

          @keyframes mailru {
            from {
              transform: translate(-10px, 145px)
            }
            to {
              transform: translate(-10px, 175px)
            }
          }

          @keyframes vk {
            from {
              transform: translate(125px, 60px)
            }
            to {
              transform: translate(125px, 45px)
            }
          }

          @keyframes youla {
            from {
              transform: translate(-130px, -10px)
            }
            to {
              transform: translate(-130px, 0)
            }
          }
        }
      }
    }

    .employment__reviews {
      .title {
        margin-bottom: 20px !important;
      }

      .slider__list {
        .list__item {
          width: 300px !important;
          height: 180px !important;
          padding: 20px !important;

          .subtitle {
            font-size: 16px !important;
          }

          .light-grey-txt {
            font-size: 10px !important;
          }
        }
      }
    }
  }
}

@media screen and(max-width: 375px) {
  #courses-wrapper {
    .header__title {
      height: 530px !important;
      padding: 30px 20px !important;

      .title__txt {
        width: 280px !important;

        .title {
          font-size: 25px !important;
        }

        .light-grey-txt {
          font-size: 12px !important;
        }
      }

      .title__img {
        img {
          width: 175px !important;
          height: 175px !important;
        }
      }
    }

    .for-who {
      .for-who__content_small {
        height: 800px !important;
      }

      .title {
        font-size: 35px !important;
      }
    }
  }
}