#courses-wrapper {
  .light-purple-border {
    border: 2px solid #D1CAFF !important;
    border-radius: 10px;
  }

  .purple-border {
    border: 2px solid #A3A3FF !important;
    border-radius: 10px;
  }

  .light-blue-border {
    border: 2px solid #CAF4EA !important;
    border-radius: 10px;
  }

  .pink-border {
    border: 2px solid #FECECF !important;
    border-radius: 10px;
  }

  .light-orange-border {
    border: 2px solid #FFC27F !important;
    border-radius: 10px;
  }

  .blue-border {
    border: 2px solid #81E3F0 !important;
    border-radius: 10px;
  }

  .light-dark-blue-border {
    border: 2px solid #94BFFF !important;
    border-radius: 10px;
  }

  .light-pink-border {
    border: 2px solid #F0EBFF !important;
    border-radius: 10px;
  }

  .orange-border {
    border: 2px solid #FFBD59 !important;
    border-radius: 10px;
  }

  .grey-border {
    border: 2px solid #dff8ff !important;
    border-radius: 10px;
  }

  .light-green-border {
    border: 2px solid #C4FDEF !important;
    border-radius: 10px;
  }

  .yellow-border {
    border: 2px solid #FFE64B !important;
    border-radius: 10px;
  }

  .light-yellow-border {
    border: 2px solid #FFF4BB !important;
    border-radius: 10px;
  }

  .light-purple-color {
    color: #D1CAFF !important;
  }

  .purple-color {
    color: #A3A3FF !important;
  }

  .light-blue-color {
    color: #CAF4EA !important;
  }

  .pink-color {
    color: #FECECF !important;
  }

  .light-orange-color {
     color: #FFC27F !important;
  }

  .blue-color {
    color: #81E3F0 !important;
  }

  .light-dark-blue-color {
    color: #94BFFF !important;
  }

  .light-pink-color {
    color: #F0EBFF !important;
  }

  .orange-color {
    color: #FFBD59 !important;
  }

  .grey-color {
    color: #dff8ff !important;
  }

  .light-green-color {
    color: #C4FDEF !important;
  }

  .yellow-color {
    color: #FFE64B !important;
  }

  .light-yellow-color {
    color: #FFF4BB !important;
  }

  .course-container {
    width: 1500px;
    margin: auto;

    .course-header {
      margin-top: 100px;

      .header__title {
        width: 100%;
        height: 700px;
        padding: 70px 215px;
        box-sizing: border-box;
        border-radius: 15px;
        background: #60B3FF;

        .title__txt {
          width: 500px;

          .title {
            color: black;
          }

          .light-grey-txt {
            margin: 20px 0;
            opacity: 1 !important;
            color: black;
          }

          .txt__btn {
            width: 270px;
            height: 56px;
            padding: 18px 48px;
            border-radius: 12px;
            font-size: 18px;
            font-weight: 500;
            color: white;
            background: blue;
            border: none;
          }
        }

        .title__img {
          img {
            width: 470px;
            height: 470px;
          }
        }
      }

      .header__inf {
        width: 1170px;
        height: 120px;
        margin: 80px auto 0;

        .inf__item {
          align-items: baseline !important;
          border: 2px solid #60B3FF;
          border-radius: 10px;
          padding: 10px;
          color: white;
          text-align: center;

          .small-title {
            margin-bottom: 10px;
          }
        }
      }
    }

    .header-text {
      width: 1170px;
      margin: 130px auto;
      border: 2px solid #60B3FF;
      border-radius: 10px;
      padding: 20px;
      box-sizing: border-box;
      text-align: center;

      .text {
        font-size: 28px;
        color: white;
        line-height: 44px;
        margin-bottom: 65px;
      }
    }

    .job-inf-container {
      width: 800px;
      margin: auto;
      color: white;

      .job-inf__item {
        text-align: center;
        border: 2px solid #60B3FF;
        border-radius: 10px;
        padding: 10px;
      }
    }

    .header-job-inf {
      margin-top: 100px;
      padding: 20px;

      .text {
        width: 350px;
        padding: 10px;
      }

      .job-inf {
        .job-inf__item {
          margin-bottom: 20px;
        }
      }
    }

    .for-who {
      width: fit-content;
      margin: 200px auto 0;
      text-align: left;
      color: white;

      .for-who__content_small {
        width: 1300px;
        margin-top: 80px;

        .content__item{
          width: 630px;

          .item__txt {
            width: 430px;
          }
        }
      }

      .for-who__content {
        width: 1150px;
        align-items: baseline !important;
        margin-top: 80px;
      }

      .content__item {
        width: 330px;

        img {
          width: 164px;
          height: 164px;
        }

        .small-title {
          margin: 25px 0 10px;
        }
      }
    }

    .skills {
      width: 1300px;
      margin: 150px auto 0;
      color: white;

      .skills__row {
        margin-top: 45px;
        align-items: baseline !important;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .skills__item {
        width: 350px;
        border: 2px solid #60B3FF;
        border-radius: 10px;
        padding: 10px;

        i {
          font-size: 20px;
        }

        .small-title {
          font-size: 22px !important;
          margin-top: 10px;
        }

        .light-grey-txt {
          font-size: 18px !important;
          margin-top: 10px;
        }
      }
    }

    .projects {
      width: 1170px;
      margin: 100px auto 0;
      text-align: left;

      .title {
        margin-bottom: 50px;
      }

      .projects__content {
        .content__img {
          img {
            width: 670px;
            height: 380px;
          }
        }

        .content__text {
          width: 440px;
          height: 380px;
          position: relative;
          color: white;

          .light-grey-txt {
            margin: 10px 0;
          }

          .text__controls {
            width: 123px;
            position: absolute;
            bottom: 0;
            left: 0;

            button {
              i {
                color: #60B3FF;
                font-size: 28px;
              }
            }
          }
        }
      }
    }

    .how-use {
      width: 1300px;
      margin: 200px auto 0;

      .title {
        margin-bottom: 100px;
      }

      .how-use__content {
        .content__item {
          width: 270px;
          height: 490px;
          background: white;
          border-radius: 10px;
          border: 2px solid #60B3FF;
          position: relative;

          .item__text {
            padding: 25px;

            .text__circle {
              width: 36px;
              height: 36px;
              border-radius: 50%;
              background: #60B3FF;
              font-weight: 500;
              font-size: 18px;
            }

            .small-title {
              margin: 15px 0 10px;
            }

            .light-grey-txt {
              color: black !important;
              opacity: 1 !important;
            }
          }

          .item__img {
            width: 100%;
            height: 180px;
            position: absolute;
            bottom: 0;
            background: black;
            margin-top: 117px;
            border-radius: 0 0 10px 10px;

            img {
              display: block;
              width: 225px;
              height: 140px;
            }
          }
        }
      }
    }

    .employment {
      padding: 75px 215px;
      background: white;
      box-sizing: border-box;
      margin-top: 100px;
      border-radius: 10px;
      overflow: hidden;

      .employment__wrapper {
        width: 1170px;

        .employment__header {
          .header__text {
            width: 470px;

            .title {
              color: black;
              margin-bottom: 50px;
            }

            .light-grey-txt {
              font-size: 18px;
              color: black;
              opacity: 1;
            }
          }

          .header__photographs {
            width: 570px;
            height: 585px;
            position: relative;

            img {
              position: absolute;
              animation-duration: 4s;
              animation-direction: alternate;
              animation-iteration-count: infinite;
              animation-timing-function: linear;

              &:first-child {
                position: relative;
              }
            }

            .photographs__main {
              width: 240px;
              height: 240px;
            }

            .photographs__medium {
              width: 115px;
              height: 115px;
            }

            .photographs__small {
              width: 90px;
              height: 90px;
            }

            .photographs__very-small {
              width: 70px;
              height: 70px;
            }

            @keyframes top-left {
              from {transform: translate(-110px, -180px)}
              to {transform: translate(-110px, -150px)}
            }

            @keyframes bottom-right {
              from {transform: translate(110px, 190px)}
              to {transform: translate(110px, 165px)}
            }

            @keyframes top-right {
              from {transform: translate(180px, -60px)}
              to {transform: translate(180px, -40px)}
            }

            @keyframes bottom-left {
              from {transform: translate(-130px, 90px)}
              to {transform: translate(-130px, 130px)}
            }

            @keyframes aic {
              from {transform: translate(115px, -145px)}
              to {transform: translate(115px, -120px)}
            }

            @keyframes mailru {
              from {transform: translate(-20px, 195px)}
              to {transform: translate(-20px, 225px)}
            }

            @keyframes vk {
              from {transform: translate(185px, 110px)}
              to {transform: translate(185px, 95px)}
            }

            @keyframes youla {
              from {transform: translate(-190px, -20px)}
              to {transform: translate(-190px, -50px)}
            }

            .top-left {
              animation-name: top-left;
            }

            .bottom-right {
              animation-name: bottom-right;
            }

            .top-right {
              animation-name: top-right;
            }

            .bottom-left {
              animation-name: bottom-left;
            }

            .aic {
              animation-name: aic;
            }

            .mailru {
              animation-name: mailru;
            }

            .vk {
              animation-name: vk;
            }

            .youla {
              animation-name: youla;
            }
          }
        }

        .employment__career-center {
          margin-top: 100px;

          .title {
            color: black;
            margin-bottom: 50px;
          }

          .career-center__slider {
            margin-bottom: 50px;

            .moveRight {
              transform: translateX(-560px);
            }

            .slider__list {
              width: fit-content;
              display: flex;
              transition: 0.5s;

              .list__item {
                width: 350px;
                height: 346px;
                border-radius: 25px;
                background: rgb(255, 223, 110);
                margin-right: 20px;
                padding: 30px;
                box-sizing: border-box;
                cursor: pointer;
                position: relative;

                &:last-child {
                  margin-right: 0;
                }

                &:nth-child(2) {
                  background: rgb(220, 244, 254) !important;
                }

                &:nth-child(3) {
                  background: rgb(175, 223, 180) !important;
                }

                &:nth-child(4) {
                  background: rgb(254, 188, 180) !important;
                }

                &:nth-child(5) {
                  background: rgb(163, 163, 255) !important;
                }

                &:hover {
                  .invisible-text {
                    opacity: 1 !important;
                  }

                  .item__txt {
                    opacity: 0;
                  }
                }

                .item__circle {
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  background: black;
                  color: white;
                  font-size: 18px;
                  margin-bottom: 50px;
                }

                .invisible-text {
                  width: 270px;
                  position: absolute;
                  opacity: 0;
                  font-size: 17px;
                  transition: 0.5s;
                  color: black;
                  font-weight: 400;
                  line-height: 160%;
                }

                .light-grey-txt {
                  color: black;
                  font-size: 18px;
                  opacity: 1;
                }
                
                .item__txt {
                  position: relative;
                  transition: 0.5s;
                  
                  .small-title {
                    font-size: 25px;
                    margin-bottom: 100px;
                  }
                }
              }
            }
          }
        }

        .employment__guarantees {
          display: flex;
          margin-top: 150px;

          .title {
            color: black;
            font-size: 52px;
            line-height: 60px;
          }

          .light-grey-txt {
            color: black;
            opacity: 1;
          }

          .guarantees__users {
            width: 400px;
            height: 400px;
            padding: 0 0 20px;
            border-radius: 15px;
            background: #60B3FF;
            box-sizing: border-box;
            margin: 10px 100px 0 0;

            .users__title {
              padding: 50px 50px 0 50px;

              .small-title {
                margin: 20px 0 30px;
              }
            }

            .users__item {
              width: 350px;
              padding: 16px 16px 16px 24px;
              margin: 12px auto 0;
              box-sizing: border-box;
              border-radius: 10px;
              border: 2px solid #e4e4e4;

              .subtitle {
                font-size: 32px;
                line-height: 40px;
                color: black;
              }

              &:last-child {
                margin-bottom: 0;
              }
            }
          }

          .guarantees__text {
            width: 700px;

            .title {
              margin-bottom: 40px;
            }

            .text__item {
              margin-bottom: 30px;

              &:last-child {
                margin-bottom: 0;
              }

              .small-title {
                margin-bottom: 10px;
              }
            }
          }
        }

        .employment__reviews {
          .title {
            margin: 150px 0 50px;
            color: black;
          }

          .reviews__slider {
            margin-bottom: 50px;

            .slider__list {
              width: fit-content;
              display: flex;
              transition: 0.3s;

              .list__item {
                width: 470px;
                height: 300px;
                margin-right: 30px;
                padding: 40px;
                box-sizing: border-box;
                border-radius: 20px;
                background: #353535;

                &:last-child {
                  margin-right: 0;
                }

                .light-grey-txt {
                  opacity: 1;
                }

                .item__title {
                  width: fit-content;
                  margin-bottom: 20px;

                  img {
                    display: block;
                    width: 56px;
                    height: 56px;
                    border-radius: 50%;
                    margin-right: 20px;
                  }

                  .light-grey-txt {
                    opacity: 0.7;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}