.idea

# dependencies
client/node_modules
client/.pnp
client/.pnp.js

# testing
client/coverage

# next.js
client/.next/
client/out/

# production
client/build
client/.idea

# misc
client/.DS_Store
client/*.pem

# debug
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/.pnpm-debug.log*

# local env files
client/.env*.local

# vercel
client/.vercel

# typescript
client/*.tsbuildinfo
client/next-env.d.ts

client/public/manifest/sw.js
client/public/manifest/workbox-*.js
client/public/manifest/worker-*.js
client/public/manifest/sw.js.map
client/public/manifest/workbox-*.js.map
client/public/manifest/worker-*.js.map
