$python-color : #60b3ff;
$fullstack-python-color : #FECECF;
$web-color : #A3A3FF;
$fullstack-php-color : #94BFFF;
$frontend-color : #C9C8FF;
$frontend-pro-color : #C4FDEF;
$fullstack-js-color : #FFE64B;
$php-pro-color : #FFF4BB;
$c-color : #CAF4EA;
$android-color : #C5EFD9;
$ios-color : #93E7FF;
$mobile-color : #F0EBFF;
$flutter-color : #D2EBFC;
$java-color : #FFBD59;
$java-pro-color : #D1CAFF;
$cyber-security-color : #00CFA1;
$devops-color : #80CAF2;
$devops-pro-color : #B4DF92;

#courses {
  .content {
    max-width: 1000px;

    .content__column {
      width: 425px;

      &:nth-child(1) {
        .content__item {
          &:nth-child(2) {
            background: $fullstack-python-color;
          }

          &:nth-child(3) {
            background: $web-color;
          }

          &:nth-child(4) {
            background: $fullstack-php-color;
          }

          &:nth-child(5) {
            background: $frontend-color;
          }

          &:nth-child(6) {
            background: $frontend-pro-color;
          }

          &:nth-child(7) {
            background: $fullstack-js-color;
          }

          &:nth-child(8) {
            background: $php-pro-color;
          }

          &:nth-child(9) {
            background: $c-color;
          }
        }
      }

      &:nth-child(2) {
        .content__item {
          &:nth-child(1) {
            background: $android-color;
          }

          &:nth-child(2) {
            background: $ios-color;
          }

          &:nth-child(3) {
            background: $mobile-color;
          }

          &:nth-child(4) {
            background: $flutter-color;
          }

          &:nth-child(5) {
            background: $java-color;
          }

          &:nth-child(6) {
            background: $java-pro-color;
          }

          &:nth-child(7) {
            background: $cyber-security-color;
          }

          &:nth-child(8) {
            background: $devops-color;
          }

          &:nth-child(9) {
            background: $devops-pro-color;
          }
        }
      }

      .content__item {
        background: $python-color;

        &:hover {
          transform: scale(1.02);
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  #courses {
    h1 {
      font-size: 45px;
    }

    .content {
      flex-direction: column;

      .content__column {
        margin: auto;

        .content__item {
          margin-bottom: 50px;

          &:hover {
            transform: none;
          }
        }
      }
    }
  }
}

@media (max-width: 425px) {
  #courses {
    h1 {
      font-size: 40px;
    }

    .content {
      .content__column {
        width: 370px;
      }
    }
  }
}

@media (max-width: 375px) {
  #courses {
    h1 {
      font-size: 35px;
    }

    .content {
      .content__column {
        width: 320px;

        .content__item {
          height: 150px;

          div {
            h2 {
              font-size: 20px;
            }
          }

          img {
            width: 100px;
            height: 100px;
          }
        }
      }
    }
  }
}