$fullstackPython-bgColor : #FECECF;
$web-bgColor : #A3A3FF;
$fullstackPHP-bgColor : #94BFFF;
$frontend-bgColor : #C9C8FF;
$frontendPro-bgColor : #C4FDEF;
$fullstackJs-bgColor : #FFE64B;
$phpPro-bgColor : #FFF4BB;
$c-bgColor : #CAF4EA;
$android-bgColor : #C5EFD9;
$ios-bgColor : #93E7FF;
$mobile-bgColor : #F0EBFF;
$flutter-bgColor : #D2EBFC;
$java-bgColor : #FFBD59;
$javaPro-bgColor : #D1CAFF;
$cyberSecurity-bgColor : #00CFA1;
$devops-bgColor : #80CAF2;
$devopsPro-bgColor : #B4DF92;

#courses {
  .courses__content {
    max-width: 1000px;

    .courses__column {
      width: 425px;

      &:nth-child(1) {
        .courses__item {
          &:nth-child(2) {
            background: $fullstackPython-bgColor;
          }

          &:nth-child(3) {
            background: $web-bgColor;
          }

          &:nth-child(4) {
            background: $fullstackPHP-bgColor;
          }

          &:nth-child(5) {
            background: $frontend-bgColor;
          }

          &:nth-child(6) {
            background: $frontendPro-bgColor;
          }

          &:nth-child(7) {
            background: $fullstackJs-bgColor;
          }

          &:nth-child(8) {
            background: $phpPro-bgColor;
          }

          &:nth-child(9) {
            background: $c-bgColor;
          }
        }
      }

      &:nth-child(2) {
        .courses__item {
          &:nth-child(1) {
            background: $android-bgColor;
          }

          &:nth-child(2) {
            background: $ios-bgColor;
          }

          &:nth-child(3) {
            background: $mobile-bgColor;
          }

          &:nth-child(4) {
            background: $flutter-bgColor;
          }

          &:nth-child(5) {
            background: $java-bgColor;
          }

          &:nth-child(6) {
            background: $javaPro-bgColor;
          }

          &:nth-child(7) {
            background: $cyberSecurity-bgColor;
          }

          &:nth-child(8) {
            background: $devops-bgColor;
          }

          &:nth-child(9) {
            background: $devopsPro-bgColor;
          }
        }
      }

      .courses__item {
        background: #60B3FF;

        &:hover {
          transform: scale(1.02);
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  #courses {
    h1 {
      font-size: 45px;
    }

    .courses__content {
      flex-direction: column;

      .courses__column {
        margin: auto;

        .courses__item {
          margin-bottom: 50px;

          &:hover {
            transform: none;
          }
        }
      }
    }
  }
}

@media (max-width: 425px) {
  #courses {
    h1 {
      font-size: 40px;
    }

    .courses__content {
      .courses__column {
        width: 370px;
      }
    }
  }
}

@media (max-width: 375px) {
  #courses {
    h1 {
      font-size: 35px;
    }

    .courses__content {
      .courses__column {
        width: 320px;

        .courses__item {
          height: 150px;

          div {
            h2 {
              font-size: 20px;
            }
          }

          img {
            width: 100px;
            height: 100px;
          }
        }
      }
    }
  }
}