@import "Courses.module";

#course {
  .course__container {
    max-width: 1430px;

    #header {
      .header__title {
        background: $python-color;

        h1 {
          color: black !important;
        }

        button {
          background: #3D3BFF;
        }

        img {
          width: 486px;
          height: 486px;
        }

        &[course=fullstack-python] {
          background: $fullstack-python-color;
        }

        &[course=web] {
          background: $web-color;
        }

        &[course=fullstack-php] {
          background: $fullstack-php-color;
        }
        &[course=frontend] {
          background: $frontend-color;
        }

        &[course=frontend-pro] {
          background: $frontend-pro-color;
        }

        &[course=fullstack-js] {
          background: $fullstack-js-color;
        }

        &[course=php-pro] {
          background: $php-pro-color;
        }

        &[course=c-plus-plus] {
          background: $c-color;
        }

        &[course=android] {
          background: $android-color;
        }

        &[course=ios] {
          background: $ios-color;
        }

        &[course=mobile] {
          background: $mobile-color;
        }

        &[course=flutter] {
          background: $flutter-color;
        }

        &[course=java] {
          background: $java-color;
        }

        &[course=java-pro] {
          background: $java-pro-color;
        }

        &[course=cyber-security] {
          background: $cyber-security-color;
        }

        &[course=devops] {
          background: $devops-color;
        }

        &[course=devops-pro] {
          background: $devops-pro-color;
        }
      }

      .header__features {
        &[columns='3'] {
          grid-template-columns: repeat(3, auto);
        }

        &[columns='4'] {
          grid-template-columns: repeat(4, auto);
        }

        &[columns='5'] {
          grid-template-columns: repeat(5, auto);
        }

        div {
          border: 3px solid $python-color;

          &[course=fullstack-python] {
            border: 3px solid $fullstack-python-color;
          }

          &[course=web] {
            border: 3px solid $web-color;
          }

          &[course=fullstack-php] {
            border: 3px solid $fullstack-php-color;
          }

          &[course=frontend] {
            border: 3px solid $frontend-color;
          }

          &[course=frontend-pro] {
            border: 3px solid $frontend-pro-color;
          }

          &[course=fullstack-js] {
            border: 3px solid $fullstack-js-color;
          }

          &[course=php-pro] {
            border: 3px solid $php-pro-color;
          }

          &[course=c-plus-plus] {
            border: 3px solid $c-color;
          }

          &[course=android] {
            border: 3px solid $android-color;
          }

          &[course=ios] {
            border: 3px solid $ios-color;
          }

          &[course=mobile] {
            border: 3px solid $mobile-color;
          }

          &[course=flutter] {
            border: 3px solid $flutter-color;
          }

          &[course=java] {
            border: 3px solid $java-color;
          }

          &[course=java-pro] {
            border: 3px solid $java-pro-color;
          }

          &[course=cyber-security] {
            border: 3px solid $cyber-security-color;
          }

          &[course=devops] {
            border: 3px solid $devops-color;
          }

          &[course=devops-pro] {
            border: 3px solid $devops-pro-color;
          }
        }
      }
    }

    #disclaimer {
      background: #F7F7F5;
    }

    #skills {
      .skills__content {
        &[course=fullstack-python] {
          div {
            border: 3px solid $fullstack-python-color;
          }
        }

        &[course=web] {
          div {
            border: 3px solid $web-color;
          }
        }

        &[course=fullstack-php] {
          div {
            border: 3px solid $fullstack-php-color;
          }
        }

        &[course=frontend] {
          div {
            border: 3px solid $frontend-color;
          }
        }

        &[course=frontend-pro] {
          div {
            border: 3px solid $frontend-pro-color;
          }
        }

        &[course=fullstack-js] {
          div {
            border: 3px solid $fullstack-js-color;
          }
        }

        &[course=php-pro] {
          div {
            border: 3px solid $php-pro-color;
          }
        }

        &[course=c-plus-plus] {
          div {
            border: 3px solid $c-color;
          }
        }

        &[course=android] {
          div {
            border: 3px solid $android-color;
          }
        }

        &[course=ios] {
          div {
            border: 3px solid $ios-color;
          }
        }

        &[course=mobile] {
          div {
            border: 3px solid $mobile-color;
          }
        }

        &[course=flutter] {
          div {
            border: 3px solid $flutter-color;
          }
        }

        &[course=java] {
          div {
            border: 3px solid $java-color;
          }
        }

        &[course=java-pro] {
          div {
            border: 3px solid $java-pro-color;
          }
        }

        &[course=cyber-security] {
          div {
            border: 3px solid $cyber-security-color;
          }
        }

        &[course=devops] {
          div {
            border: 3px solid $devops-color;
          }
        }

        &[course=devops-pro] {
          div {
            border: 3px solid $devops-pro-color;
          }
        }

        div {
          border: 3px solid $python-color;
        }
      }
    }

    #employment {
      background: white;

      .employment__container {
        .employment__animation {
          grid-column: 2/-1;
          grid-row: 1/-1;

          img {
            animation-duration: 4s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
          }

          .big {
            width: 115px;
            height: 115px;
          }

          .medium {
            width: 90px;
            height: 90px;
          }

          .small {
            width: 70px;
            height: 70px;
          }

          @keyframes top-left {
            from {
              transform: translate(-110px, -180px)
            }
            to {
              transform: translate(-110px, -150px)
            }
          }

          @keyframes bottom-right {
            from {
              transform: translate(110px, 190px)
            }
            to {
              transform: translate(110px, 165px)
            }
          }

          @keyframes top-right {
            from {
              transform: translate(180px, -60px)
            }
            to {
              transform: translate(180px, -40px)
            }
          }

          @keyframes bottom-left {
            from {
              transform: translate(-130px, 90px)
            }
            to {
              transform: translate(-130px, 130px)
            }
          }

          @keyframes aic {
            from {
              transform: translate(115px, -145px)
            }
            to {
              transform: translate(115px, -120px)
            }
          }

          @keyframes mail {
            from {
              transform: translate(-20px, 195px)
            }
            to {
              transform: translate(-20px, 225px)
            }
          }

          @keyframes vk {
            from {
              transform: translate(185px, 110px)
            }
            to {
              transform: translate(185px, 95px)
            }
          }

          @keyframes youla {
            from {
              transform: translate(-190px, -20px)
            }
            to {
              transform: translate(-190px, -50px)
            }
          }

          .top-left {
            animation-name: top-left;
          }

          .bottom-right {
            animation-name: bottom-right;
          }

          .top-right {
            animation-name: top-right;
          }

          .bottom-left {
            animation-name: bottom-left;
          }

          .aic {
            animation-name: aic;
          }

          .mail {
            animation-name: mail;
          }

          .vk {
            animation-name: vk;
          }

          .youla {
            animation-name: youla;
          }
        }

        .employment__guarantees {
          .employment__stats {
            grid-row: 1/-1;
            grid-column: 1/2;
            background: black;
            padding: 48px 24px 24px;

            .employment__stats-item {
              border: 1px solid #e4e4e4;
              margin-bottom: 12px;

              &:last-child {
                margin-bottom: 0;
              }
            }
          }

          .employment__text {
            div:last-child {
              margin-bottom: 0;
            }
          }
        }

      }

      .employment__career-center {
        h1 {
          margin-left: 135px;
        }

        .second {
          background: rgb(220, 244, 254) !important;
        }

        .third {
          background: rgb(175, 223, 180) !important;
        }

        .fourth {
          background: rgb(254, 188, 180) !important;
        }

        .fifth {
          background: rgb(163, 163, 255) !important;
        }

        .employment__career-center-slide {
          width: 336px;
          height: 346px;
          background: rgb(255, 223, 110);
          position: relative;
          margin-left: 17px;

          span {
            background: black;
          }

          &:hover {
            .invisible-text {
              opacity: 1;
            }

            .title {
              opacity: 0;
            }
          }
        }
      }

      .employment__reviews {
        h1 {
          margin-left: 135px;
        }

        .employment__reviews-slide {
          width: 470px;
          height: 300px;
          margin-left: 17px;
          background: #353535;
        }
      }
    }

    #program {
      background: white;
      border: 3px solid $python-color;

      &[course=fullstack-python] {
        border: 3px solid $fullstack-python-color;

        .rectangle {
          div {
            border-bottom: 65px solid $fullstack-python-color;
          }
        }

        .program__content {
          .program__content-item {
            border-top: 2px solid $fullstack-python-color;

            &:last-child {
              border-bottom: 2px solid $fullstack-python-color;
            }
          }
        }
      }

      &[course=web] {
        border: 3px solid $web-color;

        .rectangle {
          div {
            border-bottom: 65px solid $web-color;
          }
        }

        .program__content {
          .program__content-item {
            border-top: 2px solid $web-color;

            &:last-child {
              border-bottom: 2px solid $web-color;
            }
          }
        }
      }

      &[course=fullstack-php] {
        border: 3px solid $fullstack-php-color;

        .rectangle {
          div {
            border-bottom: 65px solid $fullstack-php-color;
          }
        }

        .program__content {
          .program__content-item {
            border-top: 2px solid $fullstack-php-color;

            &:last-child {
              border-bottom: 2px solid $fullstack-php-color;
            }
          }
        }
      }

      &[course=frontend] {
        border: 3px solid $frontend-color;

        .rectangle {
          div {
            border-bottom: 65px solid $frontend-color;
          }
        }

        .program__content {
          .program__content-item {
            border-top: 2px solid $frontend-color;

            &:last-child {
              border-bottom: 2px solid $frontend-color;
            }
          }
        }
      }

      &[course=frontend-pro] {
        border: 3px solid $frontend-pro-color;

        .rectangle {
          div {
            border-bottom: 65px solid $frontend-pro-color;
          }
        }

        .program__content {
          .program__content-item {
            border-top: 2px solid $frontend-pro-color;

            &:last-child {
              border-bottom: 2px solid $frontend-pro-color;
            }
          }
        }
      }

      &[course=fullstack-js] {
        border: 3px solid $fullstack-js-color;

        .rectangle {
          div {
            border-bottom: 65px solid $fullstack-js-color;
          }
        }

        .program__content {
          .program__content-item {
            border-top: 2px solid $fullstack-js-color;

            &:last-child {
              border-bottom: 2px solid $fullstack-js-color;
            }
          }
        }
      }

      &[course=php-pro] {
        border: 3px solid $php-pro-color;

        .rectangle {
          div {
            border-bottom: 65px solid $php-pro-color;
          }
        }

        .program__content {
          .program__content-item {
            border-top: 2px solid $php-pro-color;

            &:last-child {
              border-bottom: 2px solid $php-pro-color;
            }
          }
        }
      }

      &[course=c-plus-plus] {
        border: 3px solid $c-color;

        .rectangle {
          div {
            border-bottom: 65px solid $c-color;
          }
        }

        .program__content {
          .program__content-item {
            border-top: 2px solid $c-color;

            &:last-child {
              border-bottom: 2px solid $c-color;
            }
          }
        }
      }

      &[course=android] {
        border: 3px solid $android-color;

        .rectangle {
          div {
            border-bottom: 65px solid $android-color;
          }
        }

        .program__content {
          .program__content-item {
            border-top: 2px solid $android-color;

            &:last-child {
              border-bottom: 2px solid $android-color;
            }
          }
        }
      }

      &[course=ios] {
        border: 3px solid $ios-color;

        .rectangle {
          div {
            border-bottom: 65px solid $ios-color;
          }
        }

        .program__content {
          .program__content-item {
            border-top: 2px solid $ios-color;

            &:last-child {
              border-bottom: 2px solid $ios-color;
            }
          }
        }
      }

      &[course=mobile] {
        border: 3px solid $mobile-color;

        .rectangle {
          div {
            border-bottom: 65px solid $mobile-color;
          }
        }

        .program__content {
          .program__content-item {
            border-top: 2px solid $mobile-color;

            &:last-child {
              border-bottom: 2px solid $mobile-color;
            }
          }
        }
      }

      &[course=flutter] {
        border: 3px solid $flutter-color;

        .rectangle {
          div {
            border-bottom: 65px solid $flutter-color;
          }
        }

        .program__content {
          .program__content-item {
            border-top: 2px solid $flutter-color;

            &:last-child {
              border-bottom: 2px solid $flutter-color;
            }
          }
        }
      }

      &[course=java] {
        border: 3px solid $java-color;

        .rectangle {
          div {
            border-bottom: 65px solid $java-color;
          }
        }

        .program__content {
          .program__content-item {
            border-top: 2px solid $java-color;

            &:last-child {
              border-bottom: 2px solid $java-color;
            }
          }
        }
      }

      &[course=java-pro] {
        border: 3px solid $java-pro-color;

        .rectangle {
          div {
            border-bottom: 65px solid $java-pro-color;
          }
        }

        .program__content {
          .program__content-item {
            border-top: 2px solid $java-pro-color;

            &:last-child {
              border-bottom: 2px solid $java-pro-color;
            }
          }
        }
      }

      &[course=cyber-security] {
        border: 3px solid $cyber-security-color;

        .rectangle {
          div {
            border-bottom: 65px solid $cyber-security-color;
          }
        }

        .program__content {
          .program__content-item {
            border-top: 2px solid $cyber-security-color;

            &:last-child {
              border-bottom: 2px solid $cyber-security-color;
            }
          }
        }
      }

      &[course=devops] {
        border: 3px solid $devops-color;

        .rectangle {
          div {
            border-bottom: 65px solid $devops-color;
          }
        }

        .program__content {
          .program__content-item {
            border-top: 2px solid $devops-color;

            &:last-child {
              border-bottom: 2px solid $devops-color;
            }
          }
        }
      }

      &[course=devops-pro] {
        border: 3px solid $devops-pro-color;

        .rectangle {
          div {
            border-bottom: 65px solid $devops-pro-color;
          }
        }

        .program__content {
          .program__content-item {
            border-top: 2px solid $devops-pro-color;

            &:last-child {
              border-bottom: 2px solid $devops-pro-color;
            }
          }
        }
      }

      .rectangle {
        width: 65px;
        height: 65px;
        right: -3px;
        top: -68px;

        div {
          border: 65px solid black;
          border-bottom: 65px solid $python-color;
          border-left: 65px;

          &[course=fullstack-python] {
            border-bottom: 65px solid $fullstack-python-color;
          }

          &[course=web] {
            border-bottom: 65px solid $web-color;
          }

          &[course=fullstack-php] {
            border-bottom: 65px solid $fullstack-php-color;
          }

          &[course=frontend] {
            border-bottom: 65px solid $frontend-color;
          }

          &[course=frontend-pro] {
            border-bottom: 65px solid $frontend-pro-color;
          }

          &[course=fullstack-js] {
            border-bottom: 65px solid $fullstack-js-color;
          }

          &[course=php-pro] {
            border-bottom: 65px solid $php-pro-color;
          }

          &[course=c-plus-plus] {
            border-bottom: 65px solid $c-color;
          }

          &[course=android] {
            border-bottom: 65px solid $android-color;
          }

          &[course=ios] {
            border-bottom: 65px solid $ios-color;
          }

          &[course=mobile] {
            border-bottom: 65px solid $mobile-color;
          }

          &[course=flutter] {
            border-bottom: 65px solid $flutter-color;
          }

          &[course=java] {
            border-bottom: 65px solid $java-color;
          }

          &[course=java-pro] {
            border-bottom: 65px solid $java-pro-color;
          }

          &[course=cyber-security] {
            border-bottom: 65px solid $cyber-security-color;
          }

          &[course=devops] {
            border-bottom: 65px solid $devops-color;
          }

          &[course=devops-pro] {
            border-bottom: 65px solid $devops-pro-color;
          }
        }
      }

      .program__title {
        .program__count-item {
          div {
            background: black;
          }
        }
      }

      .program__content {
        .program__content-item {
          border-top: 2px solid $python-color;

          &:last-child {
            border-bottom: 2px solid $python-color;
          }

          .program__content-item-title {
            cursor: pointer;

            .rotate {
              transform: rotate(45deg);
            }

            &:hover {
              button {
                color: white;
                background: black;
              }
            }

            button {
              border: 1px solid black;
              transition: 0.1s;
            }
          }

          li:before {
            content: '\2022';
            color: black;
            position: absolute;
            left: 0;
          }
        }
      }

      .program__disclaimer-icon {
        background: black;
      }
    }

    #projects {
      img {
        width: 670px;
        height: 378px;
      }

      .projects__slider-content {
        max-width: 440px;
      }

      .projects__arrow {
        border: 1px solid white;
        transition: 0.1s;

        &:hover {
          background: white;
          color: black;
        }
      }

      li:before {
        content: "•";
        color: white;
        margin-right: 5px;
      }
    }

    #teachers {
      .extended {
        cursor: pointer;

        &:hover {
          i {
            opacity: 0.4;
          }
        }
      }

      .teachers__teacher {
        width: 270px;
        height: 314px;
        background: #F7F7F5;

        img {
          width: 110px;
          height: 128px;
        }

        i {
          transition: 0.1s;
        }
      }
    }

    #cv {
      .cv__content {
        background: #F7F7F5;

        .cv__skills {
          ul {
            column-count: 2;
          }

          li:before {
            content: "•";
            position: absolute;
            left: 0;
          }

          li {
            padding-left: 15px;
            max-width: 375px;
          }
        }

        .cv__skills, .cv__projects {
          li {
            margin-bottom: 8px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        .cv__tool {
          background: #EDECEA;
        }
      }
    }

    #questions {
      .questions__content {
        width: 700px;

        .questions__question {
          background: #272727;

          .questions__title {
            &:hover {
              button {
                background: white;
                color: black;
              }
            }
          }

          &:first-child {
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
          }

          button {
            background: #141414;
            transition: 0.2s;
          }

          .show-text {
            max-height: 1000px !important;
            padding: 20px;
            margin: 0 2px;
          }

          .questions__text {
            background: #141414;
            max-height: 0;
            overflow: hidden;
            transition: 0.4s;

            p:not(:last-child) {
              margin-bottom: 15px;
            }

            li:not(:last-child) {
              margin-bottom: 15px;
            }

            ol {
              margin-top: 10px;

              li {
                margin-bottom: 2px !important;

                &:before {
                  content: "•";
                  margin-right: 5px;
                }
              }
            }
          }
        }
      }
    }
  }

  #consultation {
    background: $python-color;

    .consultation__content {
      background: white;

      .error-text {
        color: #FF603F;
      }

      .error {
        background: #FFE7E7 !important;
        border: 1px solid #FF603F !important;
      }

      input {
        background: #F7F7F5;
        padding: 23px 18px 10px;
        border-radius: 10px;
        border: 1px solid #EAEAEA;
        color: black;
      }

      .focus {
        font-size: 11px;
        color: gray;
        transform: translateY(-80%);
      }

      span {
        top: 20px;
        left: 18px;
        transition: 0.2s;
      }

      .consultation__phone-number {
        input {
          border-radius: 0 10px 10px 0;
        }

        .consultation__selected-country {
          background: #F7F7F5;
          padding: 18px 14px;
          border-radius: 10px 0 0 10px;
          border: 1px solid #EAEAEA;
          border-right: none;

          .arrow-up {
            transform: rotate(180deg);
          }
        }

        .consultation__countries-list {
          width: 240px;
          padding: 16px 12px;
          bottom: -350px;
          left: 5px;
          background: white;
          border-radius: 10px;

          .active {
            background: #3D3BFF;
            color: white;
          }

          .consultation__country {
            padding: 8px 12px;
            border-radius: 10px;

            &:last-child {
              margin-bottom: 0;
            }

            div {
              p {
                max-width: 100px;
              }
            }
          }
        }
      }

      button {
        background: #3D3BFF;
      }
    }
  }
}

@media (max-width: 1440px) {
  #course {
    .course__container {
      max-width: 1020px;
      margin: auto;

      #header {
        .header__title {
          padding: 40px 120px;

          h1 {
            font-size: 35px;
          }

          p {
            font-size: 16px;
            line-height: 24px;
          }

          button {
            height: 45px;
          }

          img {
            width: 350px;
            height: 350px;
          }
        }

        .header__features {
          &[columns='5'] {
            grid-template-columns: repeat(4, auto);
          }

          h3 {
            font-size: 18px;
          }

          p {
            font-size: 14px;
            line-height: 20px;
          }

          i {
            font-size: 7px;
          }
        }
      }

      #for-who {
        .for-who__content {
          grid-template-columns: repeat(2, auto);
        }
      }

      #employment {
        .employment__header {
          grid-template-columns: repeat(1, auto);
          text-align: center;

          .employment__animation {
            height: 500px;
            grid-column: 1/-1;
          }

          .employment__title {
            margin: auto;
          }
        }

        .employment__career-center {
          h1 {
            margin-left: 0;
            text-align: center;
          }
        }

        .employment__guarantees {
          grid-template-columns: repeat(1, auto);

          .employment__stats {
            width: 90%;
            grid-row: 2/2;
            display: flex;
            justify-content: space-between;
            margin: 0 auto 30px;

            .employment__stats-title {
              margin: 0;
            }

            .employment__stats-item {
              max-width: 280px;
            }
          }

          .employment__text {
            h1 {
              text-align: center;
            }

          }
        }

        .employment__reviews {
          h1 {
            text-align: center;
            margin-left: 0;
          }
        }
      }

      #program {
        .program__title {
          .program__subtitle {
            width: 360px;
          }
        }

        .program__disclaimer {
           width: 500px;
        }
      }

      #projects {
        h1 {
          text-align: center;
          margin-bottom: 30px;
        }

        .projects__slider {
          width: fit-content;
          grid-template-columns: repeat(1, auto);
          margin: auto;

          .projects__slider-content {
            margin: auto;

            .projects__slider-controllers {
              margin: 30px auto auto;
            }
          }
        }
      }

      #cv {
        h3 {
          width: 150px;
          margin-right: 50px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  #course {
    .course__container {
      max-width: 760px;

      #header {
        .header__title {
          flex-direction: column;
        }

        .header__features {
          &[columns='4'] {
            grid-template-columns: repeat(3, auto);
          }

          &[columns='5'] {
            grid-template-columns: repeat(3, auto);
          }
        }
      }

      #disclaimer {
        p {
          font-size: 16px;
          line-height: 24px;
        }
      }

      #for-who {
        .for-who__content {
          grid-template-columns: repeat(2,354px);

          img {
            width: 130px;
            height: 130px;
          }

          h3 {
            font-size: 18px;
          }

          p {
            font-size: 14px;
          }
        }
      }

      #skills {
        .skills__content {
          grid-template-columns: repeat(2,auto);
        }
      }

      #employment {
        .employment__career-center {
          padding: 0 68px;

          .employment__career-center-slide {
            width: 100%;
            height: fit-content !important;
            margin: auto auto 30px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        .employment__guarantees {
          .employment__stats {
            width: 100%;
          }
        }

        .employment__reviews {
          .employment__reviews-slide {
            margin: 0 auto 30px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

      #program {
        .program__title {
          flex-direction: column;

          h1 {
            text-align: center;
            margin-bottom: 30px;
          }

          .program__subtitle {
            width: 90%;
            margin: auto;

            p:first-child {
              text-align: center;
            }
          }
        }

        .program__content {
          .program__content-item {
            .program__content-item-title {
              cursor: none;
            }
          }
        }
      }

      #cv {
        .cv__tools, .cv__skills, .cv__projects {
          flex-direction: column;

          h3 {
            margin: auto auto 20px;
            text-align: center;
          }
        }

        .cv__tools {
          width: fit-content;
          margin: auto;
        }
      }
    }

    #consultation {
      .consultation__content {
        grid-template-columns: repeat(1, auto);

        h1 {
          text-align: center;
          margin: auto;
        }

        form {
          max-width: 760px;
          margin: auto;
        }

        button {
          width: 100%;
        }

        .agreement {
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #course {
    .course__container {
      width: 100%;

      #header {
        .header__title {
          flex-direction: column;
          padding: 20px;

          h1 {
            font-size: 30px;
          }

          img {
            width: 300px;
            height: 300px;
          }
        }

        .header__features {
          &[columns='3'] {
            grid-template-columns: repeat(2, auto);
          }

          &[columns='4'] {
            grid-template-columns: repeat(2, auto);
          }

          &[columns='5'] {
            grid-template-columns: repeat(2, auto);
          }
        }
      }

      #disclaimer {
        padding: 30px 40px;
        text-align: center;

        div {
          flex-direction: column;
        }

        p {
          width: 100%;
          margin-top: 20px;
        }
      }

      #market {
        h1 {
          font-size: 39px;
          line-height: 44px;
        }

        p, h3 {
          font-size: 22px;
          line-height: 30px;
        }

        .market__list {
          grid-template-columns: repeat(1, auto);

          p {
            font-size: 18px;
            line-height: 28px;
          }
        }
      }

      #for-who {
        h1 {
          font-size: 38px;
        }

        .for-who__content {
          grid-template-columns: repeat(1, auto);

          img {
            width: 160px;
            height: 160px;
          }

          h3 {
            font-size: 20px;
          }

          p {
            font-size: 16px;
          }
        }
      }

      #skills {
        .skills__content {
          grid-template-columns: repeat(1,auto);
        }
      }

      #employment {
        .employment__container {
          padding: 60px 10px;
        }

        .employment__header {
          grid-template-columns: repeat(1, auto);
          text-align: center;

          .employment__animation {
            .main {
              width: 210px;
              height: 210px;
            }

            .big {
              width: 105px;
              height: 105px;
            }

            .medium {
              width: 80px;
              height: 80px;
            }

            .small {
              width: 60px;
              height: 60px;
            }

            @keyframes top-left {
              from {
                transform: translate(-90px, -170px)
              }
              to {
                transform: translate(-90px, -140px)
              }
            }

            @keyframes bottom-right {
              from {
                transform: translate(90px, 180px)
              }
              to {
                transform: translate(90px, 155px)
              }
            }

            @keyframes top-right {
              from {
                transform: translate(160px, -50px)
              }
              to {
                transform: translate(160px, -30px)
              }
            }

            @keyframes bottom-left {
              from {
                transform: translate(-110px, 80px)
              }
              to {
                transform: translate(-110px, 120px)
              }
            }

            @keyframes aic {
              from {
                transform: translate(95px, -135px)
              }
              to {
                transform: translate(95px, -110px)
              }
            }

            @keyframes main {
              from {
                transform: translate(0, 185px)
              }
              to {
                transform: translate(0, 215px)
              }
            }

            @keyframes vk {
              from {
                transform: translate(155px, 110px)
              }
              to {
                transform: translate(155px, 95px)
              }
            }

            @keyframes youla {
              from {
                transform: translate(-170px, 10px)
              }
              to {
                transform: translate(-170px, -40px)
              }
            }
          }

          .employment__title {
            h1 {
              font-size: 39px;
            }

            p {
              font-size: 17px;
            }
          }
        }

        .employment__career-center {
          padding: 0 10px;
        }

        .employment__guarantees {
          .employment__text {
            h1 {
              font-size: 37px;
            }
          }

          .employment__stats {
            flex-direction: column;

            .employment__stats-title {
              text-align: center;
              margin-bottom: 20px;
            }

            .employment__stats-item {
              max-width: 100%;
            }
          }
        }

        .employment__reviews {
          .employment__reviews-slide {
            width: 380px;
            height: 250px;
            padding: 20px;

            img {
              width: 45px;
              height: 45px;
            }

            p {
              font-size: 15px;
            }

            div:first-child {
              h3 {
                font-size: 18px;
                margin-bottom: 6px;
              }

              p {
                font-size: 13px;
              }
            }
          }
        }
      }

      #program {
        padding: 20px 50px;

        .rectangle {
          width: 50px;
          height: 50px;
          top: -53px;

          div {
            border: 50px solid black;
            border-bottom: 50px solid $python-color;
            border-left: 50px;

            &[course=fullstack-python] {
              border-bottom: 50px solid $fullstack-python-color;
            }

            &[course=web] {
              border-bottom: 50px solid $web-color;
            }

            &[course=fullstack-php] {
              border-bottom: 50px solid $fullstack-php-color;
            }

            &[course=frontend] {
              border-bottom: 50px solid $frontend-color;
            }

            &[course=frontend-pro] {
              border-bottom: 50px solid $frontend-pro-color;
            }

            &[course=fullstack-js] {
              border-bottom: 50px solid $fullstack-js-color;
            }

            &[course=php-pro] {
              border-bottom: 50px solid $php-pro-color;
            }

            &[course=c-plus-plus] {
              border-bottom: 50px solid $c-color;
            }

            &[course=android] {
              border-bottom: 50px solid $android-color;
            }

            &[course=ios] {
              border-bottom: 50px solid $ios-color;
            }

            &[course=mobile] {
              border-bottom: 50px solid $mobile-color;
            }

            &[course=flutter] {
              border-bottom: 50px solid $flutter-color;
            }

            &[course=java] {
              border-bottom: 50px solid $java-color;
            }

            &[course=java-pro] {
              border-bottom: 50px solid $java-pro-color;
            }

            &[course=cyber-security] {
              border-bottom: 50px solid $cyber-security-color;
            }

            &[course=devops] {
              border-bottom: 50px solid $devops-color;
            }

            &[course=devops-pro] {
              border-bottom: 50px solid $devops-pro-color;
            }
          }
        }

        .program__title {
          h1 {
            font-size: 40px;
          }

          .projects__subtitle {
            p:first-child {
              font-size: 17px;
            }

            .projects__counts {
              grid-template-columns: repeat(1, auto);

              .projects__count-item {
                margin: auto;

                div {
                  font-size: 15px;
                }

                p {
                  font-size: 15px;
                }
              }
            }
          }
        }

        .program__content {
          .program__content-item {
            .program__content-item-title {
              font-size: 18px;

              h1 {
                max-width: 250px;
              }
            }
          }

          .program__content-item-content {
            p {
              width: 95%;
            }
          }

          li {
            font-size: 16px;
            margin-bottom: 20px;
          }
        }

        .program__disclaimer {
          width: fit-content;
          flex-direction: column;
          margin: 30px auto auto;
          text-align: center;

          div {
            margin-bottom: 10px;
          }
        }
      }

      #projects {
        img {
          height: 300px;
        }
      }

      #cv {
        .cv__title {
          flex-direction: column;

          div:first-child {
            margin-bottom: 20px;
          }
        }

        .cv__tools {
          div {
            width: fit-content;
            flex-wrap: wrap;
          }
        }

        .cv__content {
          .cv__skills {
            ul {
              column-count: 1;
              margin: auto;

              li {
                max-width: 100%;
              }
            }
          }
        }
      }
    }

    #consultation {
      .consultation__content {
        grid-template-columns: repeat(1, auto);

        h1 {
          text-align: center;
          margin: auto;
        }

        form {
          max-width: 420px;
          margin: auto;

          .consultation__inputs {
            grid-template-columns: repeat(1, auto);
          }

          .consultation__phone-number {
            .consultation__input {
              width: 88%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 425px) {
  #course {
    .course__container {
      #header {
        .header__title {
          h1 {
            font-size: 25px;
          }

          p {
            font-size: 15px;
            line-height: 20px;
          }

          button {
            height: 40px;
            font-size: 16px;
          }

          img {
            width: 270px;
            height: 270px;
          }
        }

        .header__features {
          &[columns='3'] {
            grid-template-columns: repeat(1, auto);
          }

          &[columns='4'] {
            grid-template-columns: repeat(1, auto);
          }

          &[columns='5'] {
            grid-template-columns: repeat(1, auto);
          }
        }
      }

      #market {
        h1 {
          font-size: 36px;
          line-height: 40px;
        }

        p, h3 {
          font-size: 20px;
          line-height: 28px;
        }

        .market__list {
          p {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }

      #for-who {
        h1 {
          font-size: 36px;
        }
      }

      #employment {
        .employment__header {
          .employment__animation {
            .main {
              width: 190px;
              height: 190px;
            }

            .big {
              width: 95px;
              height: 95px;
            }

            .medium {
              width: 70px;
              height: 70px;
            }

            .small {
              width: 50px;
              height: 50px;
            }

            @keyframes top-left {
              from {
                transform: translate(-80px, -150px)
              }
              to {
                transform: translate(-80px, -120px)
              }
            }

            @keyframes bottom-right {
              from {
                transform: translate(80px, 160px)
              }
              to {
                transform: translate(80px, 135px)
              }
            }

            @keyframes top-right {
              from {
                transform: translate(140px, -30px)
              }
              to {
                transform: translate(140px, 10px)
              }
            }

            @keyframes bottom-left {
              from {
                transform: translate(-100px, 60px)
              }
              to {
                transform: translate(-100px, 100px)
              }
            }

            @keyframes aic {
              from {
                transform: translate(85px, -115px)
              }
              to {
                transform: translate(85px, -90px)
              }
            }

            @keyframes mail {
              from {
                transform: translate(-30px, 165px)
              }
              to {
                transform: translate(-30px, 195px)
              }
            }

            @keyframes vk {
              from {
                transform: translate(135px, 100px)
              }
              to {
                transform: translate(135px, 85px)
              }
            }

            @keyframes youla {
              from {
                transform: translate(-150px, -30px)
              }
              to {
                transform: translate(-150px, -10px)
              }
            }
          }

          .employment__title {
            h1 {
              font-size: 35px;
            }

            p {
              font-size: 16px;
            }
          }
        }

        .employment__career-center {
          h1 {
            font-size: 28px;
          }

          .employment__career-center-slide {
            h3 {
              font-size: 20px;
            }

            span {
              width: 38px;
              height: 38px;

              i {
                font-size: 18px;
              }
            }

            p {
              font-size: 16px;
            }
          }
        }

        .employment__guarantees {
          .employment__text {
            h1 {
              font-size: 32px;
            }

            h3 {
              font-size: 18px;
            }

            p {
              font-size: 15px;
            }
          }

          .employment__stats {
            .employment__stats-title {
              h1 {
                font-size: 40px;
              }

              h3 {
                font-size: 18px;
              }
            }

            .employment__stats-item {
              h1 {
                font-size: 28px;
              }

              p {
                font-size: 14px;
              }
            }
          }
        }

        .employment__reviews {
          h1 {
              font-size: 28px;
          }

          .employment__reviews-slide {
            width: 340px;
            height: 220px;
            padding: 15px;

            img {
              width: 40px;
              height: 40px;
              margin-right: 15px;
            }

            p {
              font-size: 14px;
            }

            div:first-child {
              margin-bottom: 10px;

              h3 {
                font-size: 16px;
                margin-bottom: 5px;
              }

              p {
                font-size: 12px;
              }
            }
          }
        }
      }

      #program {
        .program__title {
          h1 {
            font-size: 35px;
          }

          .program__subtitle {
            p:first-child {
              font-size: 16px;
            }

            .program__counts {
              .program__count-item:first-child {
                margin-bottom: 10px;
              }
            }
          }
        }
      }
    }

    #consultation {
      h1 {
        font-size: 30px;
      }

      .consultation__content {
        input {
          height: 45px;
          padding: 23px 18px 10px;
        }

        span {
          top: 15px;
          left: 18px;
          transition: 0.2s;
        }

        .consultation__phone-number {
          .consultation__selected-country {
            height: 45px;
          }
        }

        button {
          height: 45px;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  #course {
    .course__container {
      #header {
        .header__title {
          h1 {
            font-size: 30px;
          }

          p {
            font-size: 15px;
            line-height: 20px;
          }

          button {
            font-size: 15px;
          }

          img {
            width: 250px;
            height: 250px;
          }
        }
      }

      #for-who {
        .for-who__content {
          img {
            width: 140px;
            height: 140px;
          }

          h3 {
            font-size: 19px;
          }

          p {
            font-size: 15px;
          }
        }
      }

      #employment {
        .employment__header {
          .employment__animation {
            .main {
              width: 180px;
              height: 180px;
            }

            .big {
              width: 80px;
              height: 80px;
            }

            .medium {
              width: 60px;
              height: 60px;
            }

            .small {
              width: 40px;
              height: 40px;
            }

            @keyframes top-left {
              from {
                transform: translate(-80px, -130px)
              }
              to {
                transform: translate(-80px, -100px)
              }
            }

            @keyframes bottom-right {
              from {
                transform: translate(60px, 140px)
              }
              to {
                transform: translate(60px, 115px)
              }
            }

            @keyframes top-right {
              from {
                transform: translate(130px, -20px)
              }
              to {
                transform: translate(130px, 0px)
              }
            }

            @keyframes bottom-left {
              from {
                transform: translate(-90px, 90px)
              }
              to {
                transform: translate(-90px, 60px)
              }
            }

            @keyframes aic {
              from {
                transform: translate(85px, -95px)
              }
              to {
                transform: translate(85px, -70px)
              }
            }

            @keyframes mail {
              from {
                transform: translate(-30px, 135px)
              }
              to {
                transform: translate(-30px, 165px)
              }
            }

            @keyframes vk {
              from {
                transform: translate(105px, 90px)
              }
              to {
                transform: translate(105px, 75px)
              }
            }

            @keyframes youla {
              from {
                transform: translate(-130px, -40px)
              }
              to {
                transform: translate(-130px, 0)
              }
            }
          }
        }

        .employment__career-center {
          .employment__career-center-slide {
            h3 {
              font-size: 17px;
            }

            span {
              width: 36px;
              height: 36px;

              i {
                font-size: 17px;
              }
            }

            p {
              font-size: 15px;
            }
          }
        }

        .employment__guarantees {
          .employment__text {
            h1 {
              font-size: 27px;
            }

            h3 {
              font-size: 17px;
            }

            p {
              font-size: 14px;
            }
          }

          .employment__stats {
            .employment__stats-title {
              h1 {
                font-size: 38px;
              }

              h3 {
                font-size: 16px;
              }
            }

            .employment__stats-item {
              h1 {
                font-size: 26px;
              }
            }
          }
        }

        .employment__reviews {
          h1 {
            font-size: 24px;
          }

          .employment__reviews-slide {
            width: 290px;
            height: 200px;

            p {
              font-size: 13px;
            }

            div:first-child {
              margin-bottom: 8px;

              h3 {
                font-size: 15px;
                margin-bottom: 0;
              }

              p {
                font-size: 11px;
              }
            }
          }
        }
      }

      #program {
        padding: 20px 30px;

        .rectangle {
          width: 30px;
          height: 30px;
          top: -33px;

          div {
            border: 30px solid black;
            border-bottom: 30px solid $python-color;
            border-left: 30px;

            &[course=fullstack-python] {
              border-bottom: 30px solid $fullstack-python-color;
            }

            &[course=web] {
              border-bottom: 30px solid $web-color;
            }

            &[course=fullstack-php] {
              border-bottom: 30px solid $fullstack-php-color;
            }

            &[course=frontend] {
              border-bottom: 30px solid $frontend-color;
            }

            &[course=frontend-pro] {
              border-bottom: 30px solid $frontend-pro-color;
            }

            &[course=fullstack-js] {
              border-bottom: 30px solid $fullstack-js-color;
            }

            &[course=php-pro] {
              border-bottom: 30px solid $php-pro-color;
            }

            &[course=c-plus-plus] {
              border-bottom: 30px solid $c-color;
            }

            &[course=android] {
              border-bottom: 30px solid $android-color;
            }

            &[course=ios] {
              border-bottom: 30px solid $ios-color;
            }

            &[course=mobile] {
              border-bottom: 30px solid $mobile-color;
            }

            &[course=flutter] {
              border-bottom: 30px solid $flutter-color;
            }

            &[course=java] {
              border-bottom: 30px solid $java-color;
            }

            &[course=java-pro] {
              border-bottom: 30px solid $java-pro-color;
            }

            &[course=cyber-security] {
              border-bottom: 30px solid $cyber-security-color;
            }

            &[course=devops] {
              border-bottom: 30px solid $devops-color;
            }

            &[course=devops-pro] {
              border-bottom: 30px solid $devops-pro-color;
            }
          }
        }

        .content__title {
          h1 {
            font-size: 32px;
          }

          .program__subtitle {
            p:first-child {
              font-size: 15px;
            }

            .program__counts {
              .program__count-item {
                width: 170px;

                div {
                  width: 55px;
                  height: 35px;
                  font-size: 14px;
                }

                p {
                  font-size: 14px;
                }

                &:first-child {
                  margin-bottom: 10px;
                }
              }
            }
          }
        }

        .program__content {
          .program__content-item {
            .program__content-item-title {
              font-size: 16px;

              h1 {
                max-width: 200px;
              }

              button {
                width: 30px;
                height: 30px;
              }
            }
          }

          li {
            font-size: 15px;
            margin-bottom: 20px;
          }
        }

        .program__disclaimer {
          .program__disclaimer-icon {
            width: 35px;
            height: 35px;
          }

          h3 {
            font-size: 17px;
          }

          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}