$linearGradientColor : linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);

#home {
  .lds-ring {
    display: inline-block;
    position: relative;
    width: 110px;
    height: 110px;

    div {
      position: absolute;
      width: 94px;
      height: 94px;
      margin: 8px;
      border: 12px solid mediumpurple;
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: mediumpurple transparent transparent transparent;

      &:nth-child(1) {
        animation-delay: -0.45s;
      }

      &:nth-child(2) {
        animation-delay: -0.3s;
      }

      &:nth-child(3) {
        animation-delay: -0.15s;
      }
    }
  }

  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  #header {
    .timer__item {
      background: #121212;
    }

    .booking {
      background: #121212;

      .booking__container {
        width: 90%;

        button {
          background: $linearGradientColor
        }

        .booking__progress-bar {
          width: 715px;

          div:first-child {
            background: $linearGradientColor
          }
        }
      }
    }
  }

  #main {
    .title-column {
      flex-direction: column;
      text-align: center;

      h1 {
        margin: 75px 0 30px !important;
      }
    }

    .title-block {
      margin: 0 auto 90px;

      h1 {
        margin-left: 50px;
      }
    }

    .container {
      max-width: 1310px;

      #about-us {
        .img-block {
          width: 550px;
          height: 520px;
          border: 30px solid #9370db;

          img {
            bottom: -80px;
          }
        }
      }

      #partners {
        .partners__row {
          border-bottom: 1px solid rgba(255, 255, 255, 0.3);

          &:last-child {
            border: none;
          }

          div {
            border-right: 1px solid rgba(255, 255, 255, 0.3);

            &:last-child {
              border: none;
            }
          }
        }
      }

      #training-program {
        .training-program__column {
          &:last-child {
            .column__item {
              text-align: left;

              .item__txt {
                margin-left: 35px;
                margin-right: 0 !important;
              }
            }
          }

          .training-program__item {
            &:last-child {
              margin-bottom: 0;
            }

            hr {
              background: rgba(255, 255, 255, 0.3);
            }
          }
        }

        .training-program__line {
          height: 677px;
          background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
        }
      }

      #news {
        input {
          width: 280px;
          background: rgba(255, 255, 255, 0.25);
        }

        button {
          width: 130px;
          height: 46px;
          background: $linearGradientColor;
        }

        a {
          background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  #home {
    #header {
      .booking {
        height: fit-content;
        padding: 30px 0;

        .booking__container {
          flex-direction: column;

          .booking__students-counter {
            margin: 40px 0;
          }
        }
      }
    }

    #main {
      .container {
        #about-us {
          flex-direction: column;

          .text-block {
            text-align: center;
            margin-top: 80px;

            p {
              font-size: 18px;
            }
          }
        }

        #about-courses {
          .about-courses__content {
            flex-direction: column;

            div:nth-child(2) {
              margin: 100px 0;
            }

            p {
              margin: auto;
            }
          }
        }

        #partners {
          .partners__row {
            display: grid;
            grid-template-areas:  'first second'
                                    'third fourth';
            border: none;
            grid-gap: 10px;
            margin-bottom: 20px;

            &:last-child {
              margin-bottom: 0;
            }

            div {
              border: 1px solid rgba(255, 255, 255, 0.3);

              &:last-child {
                border: 1px solid rgba(255, 255, 255, 0.3);
              }

              &:nth-child(1) {
                grid-area: first;
              }

              &:nth-child(2) {
                grid-area: second;
              }

              &:nth-child(3) {
                grid-area: third;
              }

              &:nth-child(4) {
                grid-area: fourth;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #home {
    .lds-ring {
      width: 90px;
      height: 90px;

      div {
        width: 75px;
        height: 75px;
      }
    }

    #header {
      .timer {
        margin: 150px auto;

        h1 {
          font-size: 44px;
        }

        .timer__row {
          width: 425px;

          .timer__item {
            width: 95px;
            height: 95px;

            span {
              font-size: 29px;
            }

            p {
              font-size: 14px;
            }
          }
        }
      }

      .booking {
        .booking__btn {
          width: 140px;
          height: 40px;
          font-size: 15px;
        }

        .booking__students-counter {
          width: 290px;

          div {
            p {
              font-size: 15px;
            }
          }
        }

        .booking__container {
          .booking__progress-bar {
            width: 420px;
          }
        }
      }
    }

    #main {
      .title-block {
        width: 420px;

        h1 {
          font-size: 40px;
        }
      }

      .container {
        #about-us {
          .img-block {
            width: 420px;
            height: 400px;

            img {
              bottom: -70px;
            }
          }

          .text-block {
            h1 {
              font-size: 40px;
              margin-bottom: 40px;
            }

            p {
              max-width: 420px;
              font-size: 17px;
            }
          }
        }

        #about-courses {
          h1 {
            font-size: 40px;
          }
        }

        #partners {
          .partners__row {
            width: fit-content;
            display: flex;
            flex-direction: column;
            margin: 0 auto 10px auto;
          }
        }

        #training-program {
          .training-program__content {
            .training-program__line {
              width: 5px;
            }
          }

          .training-program__column {
            .training-program__item {
              width: 210px;

              div {
                margin-right: 20px;

                h4 {
                  font-size: 10px;
                }

                p {
                  font-size: 12px;
                }
              }

              hr {
                width: 25px;
              }
            }
          }
        }

        #news {
          h1 {
            font-size: 40px;
          }

          h3 {
            margin: 20px 0 50px;
            font-size: 15px;
          }
        }
      }
    }

    footer {
      font-size: 16px;
    }
  }
}

@media (max-width: 425px) {
  #home {
    #header {
      .timer {
        margin: 130px auto;

        h1 {
          font-size: 38px;
          line-height: 130%;
        }

        .timer__row {
          width: 375px;

          .timer__item {
            width: 80px;
            height: 80px;

            span {
              font-size: 25px;
            }

            p {
              font-size: 13px;
            }
          }
        }
      }

      .booking {
        button {
          width: 120px;
          height: 35px;
          font-size: 13px;
        }

        .booking__students-counter {
          width: 270px;

          div {
            p {
              font-size: 14px;
            }
          }
        }

        .booking__container {
          .booking__progress-bar {
            width: 370px;
          }
        }
      }
    }

    #main {
      .title-block {
        width: 370px;

        h1 {
          font-size: 35px;
        }
      }

      .container {
        #about-us {
          .img-block {
            width: 370px;
            height: 350px;
            border: 25px solid #9370db;

            img {
              bottom: -60px;
            }
          }

          .text-block {
            h1 {
              font-size: 35px;
              margin-bottom: 35px;
            }

            p {
              max-width: 370px;
              font-size: 16px;
            }
          }
        }

        #about-courses {
          h1 {
            font-size: 30px;
          }

          img {
            width: 90px;
            height: 90px;
          }

          h3 {
            margin: 50px 0 25px;
            font-size: 22px;
          }

          p {
            max-width: 370px;
            font-size: 15px;
          }
        }

        #training-program {
          .training-program__line {
            height: 1200px;
          }

          .training-program__column {
            .training-program__item {
              width: 300px;
              height: fit-content;

              div {
                margin-right: 25px;

                h4 {
                  font-size: 14px;
                }

                p {
                  font-size: 16px;
                }
              }

              hr {
                width: 35px;
              }
            }
          }
        }

        #news {
          h1 {
            font-size: 35px;
          }

          h3 {
            font-size: 14px;
          }

          a {
            width: 45px;
            height: 45px;

            i {
              font-size: 18px;
            }
          }
        }
      }
    }

    footer {
      font-size: 14px;
    }
  }
}

@media (max-width: 375px) {
  #home {
    .lds-ring {
      width: 65px;
      height: 65px;

      div {
        width: 65px;
        height: 65px;
      }
    }

    #header {
      .timer {
        margin: 120px auto;

        h1 {
          font-size: 33px;
        }

        .timer__row {
          width: 320px;

          .timer__item {
            width: 70px;
            height: 70px;

            span {
              font-size: 23px;
            }

            p {
              font-size: 12px;
            }
          }
        }
      }

      .booking {
        .booking__students-counter {
          width: 250px;

          div {
            p {
              font-size: 13px;
            }
          }
        }

        .booking__container {
          .booking__progress-bar {
            width: 310px;
          }
        }
      }
    }

    #main {
      .title-block {
        width: 320px;

        h1 {
          font-size: 30px;
        }
      }

      .container {
        #about-us {
          .img-block {
            width: 320px;
            height: 300px;
            border: 20px solid #9370db;

            img {
              bottom: -50px;
            }
          }

          .text-block {
            h1 {
              font-size: 30px;
              margin-bottom: 30px;
            }

            p {
              max-width: 320px;
              font-size: 15px;
            }
          }
        }

        #about-courses {
          h1 {
            font-size: 29px;
          }

          .about-courses__content {
            margin-top: 100px;
          }

          img {
            width: 85px;
            height: 85px;
          }

          h3 {
            font-size: 20px;
            margin: 40px 0 20px;
          }

          p {
            max-width: 320px;
            font-size: 14px;
          }
        }

        #partners {
          .partners__logos {
            div {
              width: 300px;
            }
          }
        }

        #news {
          h1 {
            font-size: 30px;
          }

          h3 {
            font-size: 13px;
          }

          .news__social-networks {
            margin: 40px auto 0;
          }

          a {
            width: 40px;
            height: 40px;

            i {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}