#home {
  .error__txt {
    top: -25px;
    left: 50px;
  }

  .error__icon {
    right: 80px !important;
    top: 12px;
  }

  .big-number {
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    color: white;
  }

  .grey-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.5;
  }

  .small-grey {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.5;
  }

  .lds-ring {
    display: inline-block;
    position: relative;
    width: 110px;
    height: 110px;

    div {
      position: absolute;
      width: 94px;
      height: 94px;
      margin: 8px;
      border: 12px solid mediumpurple;
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: mediumpurple transparent transparent transparent;

      &:nth-child(1) {
        animation-delay: -0.45s;
      }

      &:nth-child(2) {
        animation-delay: -0.3s;
      }

      &:nth-child(3) {
        animation-delay: -0.15s;
      }
    }
  }

  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  header {
    .grey-txt {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: white;
      opacity: 0.4;
    }

    .timer {
      width: fit-content;
      margin: 190px auto;
      text-align: center;

      h1 {
        font-weight: 700;
        font-size: 64px;
        line-height: 140%;
        margin-bottom: 50px;
        color: #FFFFFF;
      }

      .timer__row {
        margin: auto;

        .timer__item {
          width: 122px;
          height: 122px;
          background: #121212;
        }
      }
    }

    .booking {
      height: 130px;
      background: #121212;

      .booking__content {
        width: 1300px;

        .booking__btn {
          width: 169px;
          height: 44px;
          background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
          border-radius: 50px;
        }

        .booking__students-counter {
          width: 310px;

          div {
            &:first-child {
              margin-bottom: 10px;
            }
          }
        }

        .booking__orders {
          .booking__orders_places {
            width: 40%;
          }

          .booking__orders_progress-bar {
            width: 715px;
            display: flex;
            height: 6px;
            margin: 7px 0 5px;

            div {
              &:first-child {
                width: 60%;
                background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
              }

              &:last-child {
                width: 40%;
                background: white;
              }
            }
          }
        }
      }
    }
  }

  main {
    .title-column {
      flex-direction: column;
      text-align: center;

      h1 {
        margin: 75px 0 30px !important;
      }
    }

    .title-block {
      margin: 0 auto 90px;

      h1 {
        margin-left: 50px;
      }
    }

    .container {
      width: 1310px;

      section {
        margin-top: 200px;
      }

      #about-us {
        .about-us__img {
          width: 550px;
          height: 520px;
          border: 30px solid #9370db;
          position: relative;

          img {
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: -80px;
            left: 10px;
          }
        }

        .about-us__text {
          h1 {
            margin-bottom: 45px;
          }

          p {
            max-width: 485px;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: #FFFFFF;
          }
        }
      }

      #about-courses {
        text-align: center;

        .about-courses__content {
          margin-top: 120px;

          div {
            img {
              width: 100px;
              height: 100px;
            }

            h3 {
              margin: 60px 0 30px;
            }

            p {
              max-width: 400px;
            }
          }
        }
      }

      #partners {
        .partners__logos {
          .partners__row {
            display: flex;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);

            &:last-child {
              border: none;
            }

            div {
              width: 325px;
              height: 150px;
              border-right: 1px solid rgba(255, 255, 255, 0.3);

              &:last-child {
                border: none;
              }

              img {
                width: 200px;
                height: 95px;
              }
            }
          }
        }
      }

      #training-program {
        .training-program__content {
          .training-program__column {
            &:last-child {
              .column__item {
                text-align: left;

                .item__txt {
                  margin-left: 35px;
                  margin-right: 0 !important;
                }
              }
            }

            .training-program__item {
              width: 310px;
              height: 90px;
              text-align: right;
              margin-bottom: 90px;

              &:last-child {
                margin-bottom: 0;
              }

              div {
                margin-right: 35px;

                p {
                  margin-top: 15px;
                  font-weight: 400;
                  font-size: 18px;
                  line-height: 160%;
                  color: #FFFFFF;
                }
              }

              hr {
                width: 40px;
                height: 1px;
                background: rgba(255, 255, 255, 0.3);
              }
            }
          }

          .training-program__line {
            width: 6px;
            height: 677px;
            background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
          }
        }
      }

      #news {
        width: fit-content;
        margin: 200px auto 0;
        text-align: center;

        h3 {
          margin: 30px 0 60px;
        }

        form {
          width: 410px;
          display: flex;
          position: relative;
          margin: auto;

          input {
            width: 65%;
            height: 44px;
            background: rgba(255, 255, 255, 0.25);
            border-radius: 50px 0 0 50px;
            padding-left: 25px;
            color: white;
            font-size: 16px;
          }

          button {
            width: 160px;
            height: 46px;
            position: absolute;
            right: 0;
            background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
            border-radius: 50px;
            transition: 0.4s;

            &:hover {
              right: 10px;
            }
          }
        }

        .news__social-networks {
          width: 290px;
          margin: 40px auto 0;

          a {
            width: 50px;
            height: 50px;
            background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
            border-radius: 50%;

            i {
              color: white;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  #home {
    header {
      .booking {
        height: fit-content;
        padding: 30px 0;

        .booking__content {
          flex-direction: column;

          .booking__students-counter {
            margin: 40px 0;
          }
        }
      }
    }

    main {
      .container {
        width: fit-content;

        #about-us {
          flex-direction: column;

          .about-us__text {
            text-align: center;
            margin-top: 80px;
          }
        }

        #about-courses {
          .about-courses__content {
            flex-direction: column;

            div:nth-child(2) {
              margin: 100px 0;
            }
          }
        }

        #partners {
          .partners__logos {
            .partners__row {
              display: grid;
              grid-template-areas:  'first second'
                                    'third fourth';
              border: none;

              &:first-child, &:last-child {
                div:nth-child(2) {
                  border-right: none;
                }
              }

              div {
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);

                &:last-child {
                  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                }

                &:nth-child(1) {
                  grid-area: first;
                }

                &:nth-child(2) {
                  grid-area: second;
                }
                &:nth-child(3) {
                  grid-area: third;
                }

                &:nth-child(4) {
                  grid-area: fourth;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #home {
    .lds-ring {
      width: 90px;
      height: 90px;

      div {
        width: 75px;
        height: 75px;
      }
    }

    header {
      .timer {
        h1 {
          font-size: 44px;
        }

        .timer__row {
          width: 425px;

          .timer__item {
            width: 95px;
            height: 95px;

            span {
              font-size: 29px;
            }

            p {
              font-size: 14px;
            }
          }
        }
      }

      .booking {
        .booking__content {
          width: fit-content;

          .booking__btn {
            width: 140px;
            height: 40px;
            font-size: 15px;
          }

          .booking__students-counter {
            width: 290px;

            div {
              p {
                font-size: 15px;
              }
            }
          }

          .booking__orders {
            .booking__orders_progress-bar {
              width: 420px;
            }
          }
        }
      }
    }

    main {
      .title-block {
        width: 420px;

        h1 {
          font-size: 40px;
        }
      }

      .container {
        #about-us {
          .about-us__img {
            width: 420px;
            height: 400px;

            img {
              bottom: -70px;
            }
          }

          .about-us__text {
            h1 {
              font-size: 40px;
              margin-bottom: 40px;
            }

            p {
              max-width: 420px;
              font-size: 15px;
            }
          }
        }

        #about-courses {
          h1 {
            font-size: 40px;
          }
        }

        #partners {
          .partners__logos {
            .partners__row {
              width: fit-content;
              display: flex;
              flex-direction: column;
              margin: auto;

              div {
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                border-right: none;
              }
            }
          }
        }

        #training-program {
          .training-program__content {
            .training-program__line {
              width: 5px;
            }

            .training-program__column {
              .training-program__item {
                width: 210px;

                div {
                  margin-right: 20px;

                  h4 {
                    font-size: 10px;
                  }

                  p {
                    font-size: 12px;
                  }
                }

                hr {
                  width: 25px;
                }
              }
            }
          }
        }

        #news {
          h1 {
            font-size: 40px;
          }

          h3 {
            margin: 20px 0 50px;
            font-size: 15px;
          }

          form {
            button {
              width: 130px;
              right: 10px;

              &:hover {
                right: 10px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 425px) {
  #home {
    header {
      .timer {
        margin: 160px auto;

        h1 {
          font-size: 38px;
          line-height: 130%;
        }

        .timer__row {
          width: 375px;

          .timer__item {
            width: 80px;
            height: 80px;

            span {
              font-size: 25px;
            }

            p {
              font-size: 13px;
            }
          }
        }
      }

      .booking {
        .booking__content {
          .booking__btn {
            width: 120px;
            height: 35px;
            font-size: 14px;
          }

          .booking__students-counter {
            width: 270px;

            div {
              p {
                font-size: 14px;
              }
            }
          }

          .booking__orders {
            .booking__orders_progress-bar {
              width: 370px;
            }
          }
        }
      }
    }

    main {
      .title-block {
        width: 370px;

        h1 {
          font-size: 35px;
        }
      }

      .container {
        #about-us {
          .about-us__img {
            width: 370px;
            height: 350px;
            border: 25px solid #9370db;

            img {
              bottom: -60px;
            }
          }

          .about-us__text {
            h1 {
              font-size: 35px;
              margin-bottom: 35px;
            }

            p {
              max-width: 370px;
              font-size: 14px;
            }
          }
        }

        #about-courses {
          h1 {
            font-size: 30px;
          }

          .about-courses__content {
            div {
              img {
                width: 90px;
                height: 90px;
              }

              h3 {
                margin: 50px 0 25px;
                font-size: 22px;
              }

              p {
                max-width: 370px;
                font-size: 15px;
              }
            }
          }
        }

        #training-program {
          .training-program__content {
            .training-program__line {
              height: 1200px;
            }

            .training-program__column {
              .training-program__item {
                width: 300px;
                height: fit-content;

                div {
                  margin-right: 25px;

                  h4 {
                    font-size: 14px;
                  }

                  p {
                    font-size: 16px;
                  }
                }

                hr {
                  width: 35px;
                }
              }
            }
          }
        }

        #news {
          h1 {
            font-size: 35px;
          }

          h3 {
            font-size: 14px;
          }

          form {
            width: 360px;

            input {
              height: 38px;
              font-size: 15px;
            }

            button {
              width: 110px;
              height: 40px;
              right: 5px;
              font-size: 15px;

              &:hover {
                right: 5px;
              }
            }
          }

          .news__social-networks {
            width: 260px;
            margin: 40px auto 0;

            a {
              width: 45px;
              height: 45px;

              i {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  #home {
    .lds-ring {
      width: 65px;
      height: 65px;

      div {
        width: 65px;
        height: 65px;
      }
    }

    header {
      .timer {
        margin: 160px auto;

        h1 {
          font-size: 33px;
        }

        .timer__row {
          width: 320px;

          .timer__item {
            width: 70px;
            height: 70px;

            span {
              font-size: 23px;
            }

            p {
              font-size: 12px;
            }
          }
        }
      }

      .booking {
        .booking__content {
          .booking__btn {
            font-size: 13px;
          }

          .booking__students-counter {
            width: 250px;

            div {
              p {
                font-size: 13px;
              }
            }
          }

          .booking__orders {
            .booking__orders_progress-bar {
              width: 310px;
            }
          }
        }
      }
    }

    main {
      .title-block {
        width: 320px;

        h1 {
          font-size: 30px;
        }
      }

      .container {
        #about-us {
          .about-us__img {
            width: 320px;
            height: 300px;
            border: 20px solid #9370db;

            img {
              bottom: -50px;
            }
          }

          .about-us__text {
            h1 {
              font-size: 30px;
              margin-bottom: 30px;
            }

            p {
              max-width: 320px;
              font-size: 13px;
            }
          }
        }

        #about-courses {
          h1 {
            font-size: 29px;
          }
          .about-courses__content {
            margin-top: 100px;

            div {
              img {
                width: 85px;
                height: 85px;
              }

              h3 {
                font-size: 20px;
                margin: 40px 0 20px;
              }

              p {
                max-width: 320px;
                font-size: 14px;
              }
            }
          }
        }

        #partners {
          .partners__logos {
            .partners__row {
              div {
                width: 300px;
              }
            }
          }
        }

        #news {
          h1 {
            font-size: 30px;
          }

          h3 {
            font-size: 13px;
          }

          form {
            width: 320px;

            input {
              width: 70%;
              height: 36px;
              font-size: 14px;
              padding-left: 20px;
            }

            button {
              width: 90px;
              height: 38px;
              right: 5px;
              font-size: 14px;

              &:hover {
                right: 5px;
              }
            }
          }

          .news__social-networks {
            width: 220px;
            margin: 40px auto 0;

            a {
              width: 40px;
              height: 40px;

              i {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}