@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#wrapper {
  min-height: 100vh;
  background: black;
  font-family: "Roboto", sans-serif;
  opacity: 0.9;
}

.ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent !important;

  img {
    width: 155px;
    height: 180px;
  }

  li:before {
    content: "•";
    color: black;
    margin-right: 5px;
  }

  button {
    background: #EDECEA;
  }
}

.error-text {
  position: absolute;
  top: -26px;
  left: 135px;
  color: #f92552;
  font-size: 16px;
  font-weight: 500;
}

.error-icon {
  position: absolute;
  color: #f92552;
  font-size: 20px;
  right: 140px;
  top: 13px;
}

@media (max-width: 786px) {
  .error-icon {
    right: 150px;
  }
}

@media (max-width: 425px) {
  .error-text {
    font-size: 15px;
  }

  .error-icon {
    top: 10px;
    right: 130px;
    font-size: 18px;
  }

  .ReactModal__Overlay {
    .ReactModal__Content {
      padding: 30px 50px !important;
    }

    img {
      width: 120px;
      height: 150px;
    }

    h2 {
      font-size: 28px;
    }

    li, p {
      font-size: 16px;
    }

    button {
      width: 35px;
      height: 35px;

      i {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 375px) {
  .error-icon {
    right: 115px;
    font-size: 18px;
  }

  .ReactModal__Overlay {
    .ReactModal__Content {
      padding: 30px 40px !important;
    }

    img {
      width: 100px;
      height: 130px;
    }

    h2 {
      font-size: 24px;
    }

    li, p {
      font-size: 15px;
    }

    button {
      width: 30px;
      height: 30px;

      i {
        font-size: 18px;
      }
    }
  }
}