@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#wrapper {
  min-height: 100vh;
  background: black;
  font-family: "Roboto", sans-serif;
  padding-bottom: 100px;
  opacity: 0.9;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  color: #FFFFFF;
}

.subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  color: #FFFFFF;
}

.light-grey-txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  opacity: 0.8;
}

.number {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: white;
}

.grey-txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: white;
  opacity: 0.4;
}

.white-txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: white;
}