.navigation {
  padding: 40px 80px;

  img {
    width: 40px;
    height: 40px;
  }

  nav {
    transition: 0.6s;
    overflow: hidden;

    .active {
      color: mediumpurple !important;
    }

    .burger {
      display: none;
      font-size: 33px;
      color: white;
      margin: 40px auto 20px;
    }

    ul {
      display: flex;

      li {
        display: block;
        cursor: pointer;
        font-size: 18px;
        margin-right: 56px;
        transition: 0.3s;

        &:hover {
          transform: scale(1.5);
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .navigation__btn {
    width: 183px;
    height: 44px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50px;
  }
}

@media (max-width: 1024px) {
  .navigation {
    flex-direction: column;

    .show-nav {
      height: 390px !important;
    }

    nav {
      height: 80px;

      .burger {
        display: block;
      }

      ul {
        flex-direction: column;
        align-items: center;

        li {
          margin: 30px 0 0 0;
          font-size: 20px;

          &:hover {
            transform: none;
          }
        }
      }
    }

    .navigation__btn {
      margin-top: 40px;
    }
  }
}

@media (max-width: 425px) {
  .navigation {
    img {
      width: 35px;
      height: 35px;
    }

    nav {
      .burger {
        font-size: 30px;
      }

      ul {
        li {
          font-size: 18px;
        }
      }
    }

    .navigation__btn {
      width: 160px;
      height: 40px;
      font-size: 15px;
    }
  }
}