.navigation {
  .active {
    color: mediumpurple !important;
  }

  a:hover {
    transform: scale(1.5);
  }

  button {
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  }
}

@media (max-width: 1024px) {
  .navigation {
    flex-direction: column;

    .show-nav {
      height: 270px !important;
    }

    .burger {
      display: block;
    }

    nav {
      width: fit-content;
      height: 80px;
    }

    .burger {
      display: block;
    }

    ul {
      width: fit-content;
      flex-direction: column;
      align-items: center;
    }

    a {
      margin: 30px 0 0 0;
      font-size: 20px;

      &:hover {
        transform: none;
      }
    }

    button {
      margin-top: 40px;
    }
  }
}

@media (max-width: 425px) {
  .navigation {
    img {
      width: 35px;
      height: 35px;
    }

    .burger {
      font-size: 30px;
    }

    a {
      font-size: 18px;
    }

    button {
      width: 160px;
      height: 40px;
      font-size: 15px;
    }
  }
}