#teachers-wrapper {
  .show-teachers {
    width: 1100px !important;
    box-sizing: border-box;
    padding: 20px;
  }

  .show-teachers_medium {
    width: 700px !important;
    box-sizing: border-box;
    padding: 20px;
  }

  .show-teachers_small {
    width: 200px !important;
    box-sizing: border-box;
    padding: 20px;
  }

  .container {
    width: fit-content;
    margin: 100px auto;

    .title {
      text-align: center;
      margin-bottom: 20px;
    }

    .subtitle {
      text-align: center;
      margin-bottom: 150px;
      opacity: 0.8;
    }

    .container__item {
      width: 1400px;
      margin-bottom: 200px;

      .item__btn{
        color: white;
        font-size: 30px;
        background: none;
        border: 2px solid mediumpurple;
        padding: 10px;
        text-align: center;
      }

      .item__content-wrapper {
        width: 1100px;
        height: 450px;
        position: relative;

        .item__content {
          width: 0;
          align-items: baseline !important;
          position: absolute;
          left: 0;
          transition: 0.5s;
          overflow: hidden;
          border: 3px solid mediumpurple;
          border-radius: 10px;
        }

        .content__teacher {
          width: 150px;

          img {
            width: 100%;
            height: 165px;
            border-radius: 10px;
          }

          .teacher__name {
            text-align: left;
            margin: 14px 0 17px;
          }

          hr {
            width: 100%;
            height: 2px;
            background: mediumpurple;
            border: none;
          }

          .teacher__txt {
            font-size: 15px !important;
            margin-top: 5px;
          }
        }
      }
    }
  }
}

@media screen and(max-width: 1450px) {
  #teachers-wrapper {
    .item__content-wrapper_medium {
      width: 700px !important;
    }

    .item__content-wrapper_small {
      width: 250px !important;
    }

    .show-teachers {
      height: 450px !important;
    }

    .show-teachers_medium {
      height: 450px !important;
    }

    .show-teachers_small {
      width: 200px !important;
      height: 450px !important;
    }

    .item__content_big {
      width: 1100px !important;
    }

    .item__content_medium {
      width: 700px !important;
    }

    .item__content_small {
      width: 250px !important;
    }

    .container__item {
      width: 1100px !important;
      flex-direction: column;

      .item__btn {
        margin-bottom: 50px;
      }

      .item__content-wrapper {
        .item__content {
          width: 0;
          height: 0;
          top: 0;
        }
      }
    }
  }
}

@media screen and(max-width: 1150px) {
  #teachers-wrapper {
    .show-teachers {
      height: 420px !important;
    }

    .show-teachers_medium {
      height: 420px !important;
    }

    .show-teachers_small {
      height: 380px !important;
    }

    .item__content_big {
      width: 900px !important;
    }

    .item__content_medium {
      width: 580px !important;
    }

    .item__content_small {
      width: 200px !important;
    }

    .container__item {
      width: 900px !important;
      flex-direction: column;
    }

    .item__content-wrapper {
      width: 900px !important;
    }

    .item__content-wrapper_medium {
      width: 580px !important;
    }

    .item__content-wrapper_small {
      width: 200px !important;
    }

    .content__teacher {
      width: 130px !important;

      img {
        width: 100%;
        height: 165px;
      }

      .teacher__name {
        font-size: 22px !important;
      }

      .teacher__txt {
        font-size: 14px !important;
      }
    }
  }
}

@media screen and(max-width: 925px) {
  #teachers-wrapper {
    .item__content_big {
      width: 800px !important;
    }

    .item__content_medium {
      width: 500px !important;
    }

    .item__content_small {
      width: 200px !important;
    }

    .container__item {
      width: 800px !important;
      flex-direction: column;
    }

    .item__content-wrapper {
      width: 800px !important;
    }

    .item__content-wrapper_medium {
      width: 500px !important;
    }

    .item__content-wrapper_small {
      width: 200px !important;
    }

    .content__teacher {
      width: 110px !important;

      img {
        height: 135px !important;
      }

      .teacher__name {
        font-size: 20px !important;
      }

      .teacher__txt {
        font-size: 12px !important;
      }
    }
  }
}

@media screen and(max-width: 820px) {
  #teachers-wrapper {
    .show-teachers {
      height: 2200px !important;
    }

    .show-teachers_medium {
      height: 1300px !important;
    }

    .item__content_big {
      width: 250px !important;
    }

    .item__content_medium {
      width: 250px !important;
    }

    .item__content-wrapper_big {
      width: 250px !important;
    }

    .item__content-wrapper_medium {
      width: 250px !important;
    }

    .container__item {
      width: 250px !important;
      margin: auto auto 100px auto !important;
    }

    .item__content_big, .item__content_medium {
      flex-direction: column;

      .content__teacher {
        width: 150px !important;
        margin: auto;

        img {
          height: 165px !important;
        }

        .teacher__name {
          font-size: 24px !important;
        }

        .teacher__txt {
          font-size: 15px !important;
        }
      }
    }
  }
}