#teachers-wrapper {
  .show-teachers {
    width: 1100px !important;
    box-sizing: border-box;
    padding: 20px;
  }

  .show-teachers_medium {
    width: 700px !important;
    box-sizing: border-box;
    padding: 20px;
  }

  .show-teachers_small {
    width: 200px !important;
    box-sizing: border-box;
    padding: 20px;
  }

  .container {
    width: fit-content;
    margin: 100px auto;

    .title {
      text-align: center;
      margin-bottom: 20px;
    }

    .subtitle {
      text-align: center;
      margin-bottom: 150px;
      opacity: 0.8;
    }

    .container__item {
      width: 1400px;
      margin-bottom: 200px;

      .item__btn{
        color: white;
        font-size: 30px;
        background: none;
        border: 2px solid mediumpurple;
        padding: 10px;
        text-align: center;
      }

      .item__content-wrapper {
        width: 1100px;
        height: 450px;
        position: relative;

        .item__content {
          width: 0;
          align-items: baseline !important;
          position: absolute;
          left: 0;
          transition: 0.5s;
          overflow: hidden;
          border: 3px solid mediumpurple;
          border-radius: 10px;
        }

        .content__teacher {
          width: 150px;

          img {
            width: 100%;
            height: 165px;
          }

          .teacher__name {
            text-align: left;
            margin: 14px 0 17px;
          }

          hr {
            width: 100%;
            height: 2px;
            background: mediumpurple;
            border: none;
          }

          .teacher__txt {
            font-size: 15px !important;
            margin-top: 5px;
          }
        }
      }
    }
  }
}