#teachers-wrapper {
  .show-teachers {
    width: 1100px !important;
    padding: 20px;
  }

  .show-teachers_medium {
    width: 700px !important;
    padding: 20px;
  }

  .show-teachers_small {
    width: 200px !important;
    padding: 20px;
  }

  .container {
    width: fit-content;
    margin: 100px auto;

    .title {
      text-align: center;
      margin-bottom: 20px;
    }

    .teachers__subtitle {
      text-align: center;
      margin-bottom: 150px;
      opacity: 0.8;
    }

    .teachers {
      width: 1400px;
      height: 500px;
      margin-bottom: 200px;

      .teachers__btn {
        background: none;
        border: 2px solid mediumpurple;
        padding: 10px;
        text-align: center;
        color: white;
        font-size: 30px;
      }

      .teachers__content-wrapper {
        width: 1100px;
        height: 420px;
        position: relative;
        padding: 0 !important;

        .teachers__content {
          width: 0;
          align-items: baseline !important;
          position: absolute;
          left: 0;
          transition: 0.5s;
          overflow: hidden;
          border: 3px solid mediumpurple;
          border-radius: 10px;
          box-sizing: border-box;
        }
      }
    }
  }
}

@media screen and(max-width: 1450px) {
  #teachers-wrapper {
    .teachers__content-wrapper_medium {
      width: 700px !important;
    }

    .teachers__content-wrapper_small {
      width: 250px !important;
    }

    .show-teachers {
      height: 450px !important;
    }

    .show-teachers_medium {
      height: 450px !important;
    }

    .show-teachers_small {
      width: 200px !important;
      height: 450px !important;
    }

    .teachers__content_big {
      width: 1100px !important;
    }

    .teachers__content_medium {
      width: 700px !important;
    }

    .teachers__content_small {
      width: 250px !important;
    }

    .teachers {
      width: 1100px !important;
      flex-direction: column;

      .teachers__btn {
        margin-bottom: 50px;
      }

      .teachers__content-wrapper {
        .teachers__content {
          width: 0;
          height: 0;
          top: 0;
        }
      }
    }
  }
}

@media screen and(max-width: 1150px) {
  #teachers-wrapper {
    .show-teachers {
      height: 420px !important;
    }

    .show-teachers_medium {
      height: 420px !important;
    }

    .show-teachers_small {
      height: 380px !important;
    }

    .teachers__content_big {
      width: 900px !important;
    }

    .teachers__content_medium {
      width: 580px !important;
    }

    .teachers__content_small {
      width: 200px !important;
    }

    .teachers {
      width: 900px !important;
      flex-direction: column;
    }

    .teachers__content-wrapper {
      width: 900px !important;
    }

    .teachers__content-wrapper_medium {
      width: 580px !important;
    }

    .teachers__content-wrapper_small {
      width: 200px !important;
    }

    .content__teacher {
      width: 130px !important;

      .teacher__img {
        width: 100%;
        height: 165px;
      }

      .subtitle {
        font-size: 22px !important;
      }

      .light-grey-txt {
        font-size: 14px !important;
      }
    }
  }
}

@media screen and(max-width: 925px) {
  #teachers-wrapper {
    .teachers__content_big {
      width: 800px !important;
    }

    .teachers__content_medium {
      width: 500px !important;
    }

    .teachers__content_small {
      width: 200px !important;
    }

    .teachers {
      width: 800px !important;
      flex-direction: column;
    }

    .teachers__content-wrapper {
      width: 800px !important;
    }

    .teachers__content-wrapper_medium {
      width: 500px !important;
    }

    .teachers__content-wrapper_small {
      width: 200px !important;
    }

    .content__teacher {
      width: 110px !important;

      .teacher__img {
        height: 135px !important;
      }

      .subtitle {
        font-size: 20px !important;
      }

      .light-grey-txt {
        font-size: 12px !important;
      }
    }
  }
}

@media screen and(max-width: 820px) {
  #teachers-wrapper {
    .show-teachers {
      height: 2200px !important;
    }

    .show-teachers_medium {
      height: 1300px !important;
    }

    .teachers__content_big {
      width: 250px !important;
    }

    .teachers__content_medium {
      width: 250px !important;
    }

    .teachers__content-wrapper_big {
      width: 250px !important;
    }

    .teachers__content-wrapper_medium {
      width: 250px !important;
    }

    .teachers {
      width: 250px !important;
      margin: auto auto 100px auto !important;
    }

    .teachers__content_big, .teachers__content_medium {
      flex-direction: column;

      .content__teacher {
        width: 150px !important;
        margin: auto;

        .teacher__img {
          height: 165px !important;
        }

        .subtitle {
          font-size: 24px !important;
        }

        .light-grey-txt {
          font-size: 15px !important;
        }
      }
    }
  }
}