#home-wrapper {
  .error__txt {
    top: -20px;
    left: 40px;
  }

  .error__icon {
    right: 80px !important;
    top: 12px;
  }

  .big-number {
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    color: white;
  }

  .grey-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.5;
  }

  .small-grey {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.5;
  }

  .lds-ring {
    display: inline-block;
    position: relative;
    width: 94px;
    height: 94px;
  }

  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 94px;
    height: 94px;
    margin: 8px;
    border: 12px solid mediumpurple;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: mediumpurple transparent transparent transparent;
  }

  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }

  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }

  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }

  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  // Header
  #header {
    .grey-txt {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: white;
      opacity: 0.4;
    }

    .main {
      background: black;
      background-size: 100%;

      .timer {
        width: fit-content;
        margin: 190px auto;
        text-align: center;

        .timer__title {
          font-weight: 700;
          font-size: 64px;
          line-height: 140%;
          margin-bottom: 50px;
          color: #FFFFFF;
        }

        .timer__row {
          margin: auto;

          .timer__item {
            width: 122px;
            height: 122px;
            box-sizing: border-box;
            padding-top: 20px;
            background: #121212;
            text-align: center;

            .time-txt {
              line-height: 140%;
            }
          }
        }
      }
    }

    .booking {
      height: 130px;
      background: #121212;

      .booking__container {
        width: 1300px;
        height: 70px;

        .container__btn {
          .btn__book-course {
            width: 169px;
            height: 44px;
            background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
            border-radius: 50px;
            border: none;
            cursor: pointer;
          }
        }

        .container__students {
          width: 310px;
          display: flex;
          flex-direction: column;

          .students__bl {
            &:first-child {
              margin-bottom: 10px;
            }

            p {
              display: inline-block;
            }
          }
        }

        .container__income {
          .income__stats {
            width: 280px;

            p {
              display: inline-block;
            }
          }

          .income__progress {
            display: flex;
            height: 6px;
            margin: 7px 0 5px;

            .progress__bar_earned {
              width: 440px;
              background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
            }

            .progress__bar_deficiency {
              width: 274px;
              background: white;
            }
          }

          .income__goal {
            p {
              display: inline-block;
            }
          }
        }
      }
    }
  }

  // Home
  #main {
    width: 100%;
    background: black;
    padding: 200px 0 30px;

    .container {
      max-width: 1310px;
      margin: auto;

      #about-us {
        width: 100%;
        margin-bottom: 200px;

        .about__img {
          width: 490px;
          height: 459px;
          position: relative;
          border: 30px solid mediumpurple;

          .img__computer {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 86px;
            left: 10px;
          }
        }

        .about__txt {
          .title {
            margin-bottom: 45px;
          }

          .txt__text {
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: #FFFFFF;
          }
        }
      }

      #about-course {
        margin-bottom: 230px;
        text-align: center;

        .about-course__content {
          margin-top: 120px;

          .content__item {
            .item__subtitle {
              margin: 60px 0 30px;
            }

            .item__img {
              width: 100px;
              height: 100px;
            }
          }
        }
      }

      #partners {
        margin-bottom: 245px;

        .partners__title {
          width: 600px;
          margin-bottom: 90px;
        }

        .partners__photographs {
          .photographs__row {
            display: flex;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);

            &:last-child {
              border: none;
            }

            .row__item {
              width: 325px;
              height: 150px;
              border-right: 1px solid rgba(255, 255, 255, 0.3);

              &:last-child {
                border: none;
              }

              .item__img {
                width: 200px;
                height: 95px;
              }
            }
          }
        }
      }

      #training-program {
        margin-bottom: 215px;

        .training-program__title {
          margin: 0 auto 80px;
          text-align: center;

          .title {
            margin: 75px 0 30px;
          }
        }

        .training-program__content {
          .content__column {
            &:last-child {
              .column__item {
                text-align: left;

                .item__txt {
                  margin-left: 35px;
                  margin-right: 0 !important;
                }
              }
            }

            .column__item {
              width: 310px;
              height: 90px;
              text-align: right;
              margin-bottom: 90px;

              &:last-child {
                margin-bottom: 0;
              }

              .item__txt {
                margin-right: 35px;

                .txt__text {
                  margin-top: 15px;
                  font-weight: 400;
                  font-size: 18px;
                  line-height: 160%;
                  color: #FFFFFF;
                }
              }

              hr {
                width: 40px;
                height: 1px;
                background: rgba(255, 255, 255, 0.3);
                border: none;
              }
            }
          }

          .content__line {
            width: 6px;
            height: 677px;
            background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
            border: none;
          }
        }
      }

      #teachers {
        margin-bottom: 210px;

        .teachers__title {
          width: 410px;
          margin-bottom: 115px;
        }

        .teachers__content {
          width: 82%;
          margin: auto;

          .content__item {
            text-align: center;

            .item__title {
              margin: 40px 0 15px;
            }

            .item__btn {
              width: 143px;
              height: 44px;
              background: transparent;
              border: 1px solid #FFFFFF;
              border-radius: 50px;
              margin: 30px auto 0;
              transition: 0.3s;

              &:hover {
                background: mediumpurple;
              }
            }
          }
        }
      }

      #social-networks {
        width: fit-content;
        margin: auto;
        text-align: center;

        .social-networks__subtitle {
          margin: 30px 0 60px;
        }

        .social-networks__email {
          display: flex;
          position: relative;
          margin: auto;

          .email__input {
            width: 363px;
            height: 44px;
            background: rgba(255, 255, 255, 0.25);
            border: none;
            border-radius: 50px 0 0 50px;
            box-sizing: border-box;
            padding-left: 25px;
            margin-left: 30px;
            outline: none;
            opacity: 1 !important;
          }

          .email__submit {
            width: 160px;
            height: 44px;
            position: absolute;
            top: 0;
            right: 30px;
            background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
            border-radius: 50px;
            border: none;
            transition: 0.4s;

            &:hover {
              right: 50px;
            }
          }
        }

        .social-networks__links {
          width: 290px;
          margin: 40px auto 0;

          .links__item {
            width: 50px;
            height: 50px;
            background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
            border-radius: 50%;
            cursor: pointer;

            .item__icon {
              color: white;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}