@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
}

#wrapper {
  max-width: 1920px;
  width: 100%;
  min-height: 100vh;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

.flex-property-set_between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-property-set_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  color: #FFFFFF;
}

.big-number {
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
  color: white;
}

.grey-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  opacity: 0.5;
}

.small-grey {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #FFFFFF;
  opacity: 0.5;
}

.subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  color: #FFFFFF;
}

.light-grey-txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  opacity: 0.8;
}

.burger {
  display: none;
  background: transparent;
  border: none;
  font-size: 30px;
  color: white;
  margin-bottom: 30px;
}

.show-nav {
  height: 370px !important;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 94px;
  height: 94px;
}

.lds-ring div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 94px;
  height: 94px;
  margin: 8px;
  border: 12px solid mediumpurple;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: mediumpurple transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
#header .grey-txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: white;
  opacity: 0.4;
}
#header .main {
  padding: 40px 80px;
  background: black;
  background-size: 100%;
}
#header .main .white-txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: white;
}
#header .main .navigation .navigation__img .img__logo {
  width: 40px;
  height: 40px;
}
#header .main .navigation .navigation__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#header .main .navigation .navigation__links .links__item {
  display: block;
  cursor: pointer;
  margin-right: 56px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#header .main .navigation .navigation__links .links__item:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
#header .main .navigation .navigation__links .links__item:last-child {
  margin-right: 0;
}
#header .main .navigation .navigation__btn .btn__cabinet {
  width: 183px;
  height: 44px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}
#header .main .timer {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 190px auto;
  text-align: center;
}
#header .main .timer .timer__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 140%;
  margin-bottom: 50px;
  color: #FFFFFF;
}
#header .main .timer .timer__row {
  margin: auto;
}
#header .main .timer .timer__row .timer__item {
  width: 122px;
  height: 122px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 20px;
  background: #121212;
  text-align: center;
}
#header .main .timer .timer__row .timer__item .time-txt {
  line-height: 140%;
}
#header .booking {
  height: 130px;
  background: #121212;
}
#header .booking .number {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: white;
}
#header .booking .booking__container {
  width: 1300px;
  height: 70px;
}
#header .booking .booking__container .container__btn .btn__book-course {
  width: 169px;
  height: 44px;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: white;
}
#header .booking .booking__container .container__students {
  width: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#header .booking .booking__container .container__students .students__bl:first-child {
  margin-bottom: 10px;
}
#header .booking .booking__container .container__students .students__bl p {
  display: inline-block;
}
#header .booking .booking__container .container__income .income__stats {
  width: 280px;
}
#header .booking .booking__container .container__income .income__stats p {
  display: inline-block;
}
#header .booking .booking__container .container__income .income__progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 6px;
  margin: 7px 0 5px;
}
#header .booking .booking__container .container__income .income__progress .progress__bar_earned {
  width: 440px;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}
#header .booking .booking__container .container__income .income__progress .progress__bar_deficiency {
  width: 274px;
  background: white;
}
#header .booking .booking__container .container__income .income__goal p {
  display: inline-block;
}

#main {
  width: 100%;
  background: black;
  padding: 200px 0 30px;
}
#main .container {
  max-width: 1310px;
  margin: auto;
}
#main .container #about-us {
  width: 100%;
  margin-bottom: 200px;
}
#main .container #about-us .about__img {
  width: 490px;
  height: 459px;
  position: relative;
  border: 30px solid mediumpurple;
}
#main .container #about-us .about__img .img__computer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 86px;
  left: 10px;
}
#main .container #about-us .about__txt .title {
  margin-bottom: 45px;
}
#main .container #about-us .about__txt .txt__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
}
#main .container #about-course {
  margin-bottom: 230px;
  text-align: center;
}
#main .container #about-course .about-course__content {
  margin-top: 120px;
}
#main .container #about-course .about-course__content .content__item .item__subtitle {
  margin: 60px 0 30px;
}
#main .container #about-course .about-course__content .content__item .item__img {
  width: 100px;
  height: 100px;
}
#main .container #partners {
  margin-bottom: 245px;
}
#main .container #partners .partners__title {
  width: 600px;
  margin-bottom: 90px;
}
#main .container #partners .partners__photographs .photographs__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
#main .container #partners .partners__photographs .photographs__row:last-child {
  border: none;
}
#main .container #partners .partners__photographs .photographs__row .row__item {
  width: 325px;
  height: 150px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
#main .container #partners .partners__photographs .photographs__row .row__item:last-child {
  border: none;
}
#main .container #partners .partners__photographs .photographs__row .row__item .item__img {
  width: 200px;
  height: 95px;
}
#main .container #training-program {
  margin-bottom: 215px;
}
#main .container #training-program .training-program__title {
  margin: 0 auto 80px;
  text-align: center;
}
#main .container #training-program .training-program__title .title {
  margin: 75px 0 30px;
}
#main .container #training-program .training-program__content .content__column:last-child .column__item {
  text-align: left;
}
#main .container #training-program .training-program__content .content__column:last-child .column__item .item__txt {
  margin-left: 35px;
  margin-right: 0 !important;
}
#main .container #training-program .training-program__content .content__column .column__item {
  width: 310px;
  height: 90px;
  text-align: right;
  margin-bottom: 90px;
}
#main .container #training-program .training-program__content .content__column .column__item:last-child {
  margin-bottom: 0;
}
#main .container #training-program .training-program__content .content__column .column__item .item__txt {
  margin-right: 35px;
}
#main .container #training-program .training-program__content .content__column .column__item .item__txt .txt__text {
  margin-top: 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #FFFFFF;
}
#main .container #training-program .training-program__content .content__column .column__item hr {
  width: 40px;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
  border: none;
}
#main .container #training-program .training-program__content .content__line {
  width: 6px;
  height: 677px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  border: none;
}
#main .container #teachers {
  margin-bottom: 210px;
}
#main .container #teachers .teachers__title {
  width: 410px;
  margin-bottom: 115px;
}
#main .container #teachers .teachers__content {
  width: 82%;
  margin: auto;
}
#main .container #teachers .teachers__content .content__item {
  text-align: center;
}
#main .container #teachers .teachers__content .content__item .item__title {
  margin: 40px 0 15px;
}
#main .container #teachers .teachers__content .content__item .item__btn {
  width: 143px;
  height: 44px;
  background: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 50px;
  margin: 30px auto 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}
#main .container #teachers .teachers__content .content__item .item__btn:hover {
  background: mediumpurple;
}
#main .container #social-networks {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  text-align: center;
}
#main .container #social-networks .social-networks__subtitle {
  margin: 30px 0 60px;
}
#main .container #social-networks .social-networks__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: auto;
}
#main .container #social-networks .social-networks__email .email__input {
  width: 363px;
  height: 44px;
  background: rgba(255, 255, 255, 0.25);
  border: none;
  border-radius: 50px 0 0 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 25px;
  margin-left: 30px;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
}
#main .container #social-networks .social-networks__email .email__btn {
  width: 160px;
  height: 44px;
  position: absolute;
  right: 30px;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  border-radius: 50px;
  border: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}
#main .container #social-networks .social-networks__email .email__btn:hover {
  right: 50px;
}
#main .container #social-networks .social-networks__links {
  width: 290px;
  margin: 40px auto 0;
}
#main .container #social-networks .social-networks__links .links__item {
  width: 50px;
  height: 50px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  border-radius: 50%;
  cursor: pointer;
}
#main .container #social-networks .social-networks__links .links__item .item__icon {
  color: white;
  font-size: 20px;
}