@media screen and (max-width: 1300px) {
  #contacts-wrapper {
    padding: 40px 0 !important;
  }
}
@media screen and (max-width: 1240px) {
  .map iframe {
    width: 1000px;
    height: 380px;
  }

  .information {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .information .information__address {
    margin: 0 auto 100px;
    text-align: center;
  }
}
@media screen and (max-width: 1020px) {
  .map iframe {
    width: 800px;
    height: 350px;
  }
}
@media screen and (max-width: 815px) {
  .contacts__row {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 1200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .map iframe {
    width: 600px;
    height: 320px;
  }
}
@media screen and (max-width: 755px) {
  .form__elements {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto !important;
  }
  .form__elements .form__inputs {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 50px auto;
  }
  .form__elements .form__textarea {
    margin-bottom: 50px;
  }

  .form__submit {
    width: 500px !important;
    margin: auto;
  }
}
@media screen and (max-width: 630px) {
  .map iframe {
    width: 450px;
    height: 220px;
  }
}
@media screen and (max-width: 515px) {
  .form__submit {
    width: 350px !important;
  }
}
@media screen and (max-width: 470px) {
  .map iframe {
    width: 350px;
    height: 180px;
  }

  .form__agreemant {
    font-size: 13px !important;
  }
}