#schedule-wrapper {
  .container {
    width: 1000px;
    margin: auto;

    .title {
      margin: 100px 0;
      text-align: center;
    }
  }

  .content__column {
    .column__item {
      width: 420px;
      height: 200px;
      border: 3px solid mediumpurple;
      border-radius: 10px;
      background: white;
      color: black;
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
      }

      .small-title {
        margin: 5px 0 5px 10px;
      }

      .item__line {
        width: 99.7%;
        height: 2px;
        background: mediumpurple;
        margin-bottom: 10px;
      }

      .item__txt {
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        margin-left: 10px;
      }
    }
  }
}

@media screen and(max-width: 1300px) {
  #schedule-wrapper {
    padding: 40px 0;
  }
}

@media screen and(max-width: 1020px) {
  #schedule-wrapper {
    .container {
      width: fit-content !important;
    }

    .content {
      flex-direction: column;

      .content__column:last-child {
        margin-top: 40px;
      }
    }
  }
}

@media screen and(max-width: 440px) {
  #schedule-wrapper {
    .column__item {
      width: 330px !important;
      height: 180px !important;

      .item__title {
        font-size: 18px !important;
      }

      .item__txt {
        font-size: 13px !important;
      }
    }
  }
}