#contacts-wrapper {
  .contacts {
    margin-top: 100px;
    text-align: center;

    .contacts__row {
      width: 800px;
      margin: 50px auto 0;

      .row__item {
        color: white;

        .item__avatar {
          width: 200px;
          height: 200px;
          border-radius: 50%;
        }

        .item__name {
          margin: 10px 0;
        }

        p:last-child {
          margin-top: 10px;
        }
      }
    }
  }

  .map {
    width: fit-content;
    margin: 100px auto 0;

    iframe {
      width: 1200px;
      height: 400px;
      border: 2px solid mediumpurple;
      border-radius: 10px;
    }
  }

  .information {
    width: 1200px;
    align-items: baseline;
    margin: 100px auto 0;

    .title {
      font-size: 30px;
    }

    .subtitle {
      font-size: 15px !important;
      margin: 10px 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .information__address {
      text-align: left;
    }

    .information__form {
      margin: auto;

      .form__elements {
        margin: 40px 0;

        input {
          display: block;
        }

        .form__inputs {
          .inputs__txt {
            width: 300px;
            height: 35px;
            border: 1px solid mediumpurple;
            padding-left: 10px;
            border-radius: 10px;
            color: black;

            &:focus-visible {
              outline: 0;
            }
          }
        }

        .form__textarea {
          .inputs__textarea {
            width: 330px;
            height: 191px;
            resize: none;
            border: 1px solid mediumpurple;
            border-radius: 10px;
            padding: 10px 0 0 20px;
            box-sizing: border-box;
            color: black;

            &:focus-visible {
              outline: 0;
            }
          }
        }
      }

      .form__agreement {
        color: white;
      }

      .form__submit {
        display: block;
        width: 100%;
        height: 35px;
        border: none;
        background: mediumpurple;
        border-radius: 5px;
        font-size: 20px !important;
      }
    }
  }
}