#contacts .container {
  width: 1200px;

  iframe {
    border: 3px solid mediumpurple;
  }

  a:hover {
    color: mediumpurple;
  }

  .feedback {
    span {
      top: -25px;
      color: #f92552;
    }

    .border-red {
      border: 1px solid #f92552 !important;
    }

    input, textarea {
      border: 1px solid grey;

      &:focus {
        border: 1px solid mediumpurple;
      }

      &::placeholder {
        color: rgba(0, 0, 0, 0.7);
        font-weight: 500;
      }
    }

    button {
      background: mediumpurple;

      &:hover {
        background: rgba(147, 112, 219, 0.8);
      }
    }
  }
}

@media (max-width: 1440px) {
  #contacts .container {
    width: 1020px;
  }
}

@media (max-width: 1024px) {
  #contacts .container {
    width: 90%;

    .managers__row {
      width: 100%;
    }

    .feedback {
      flex-direction: column;

      .feedback__information {
        margin: auto;
        text-align: center;
      }

      .feedback__form {
        width: fit-content;
        margin: 80px auto auto;
        text-align: center;

        .feedback__form-container {
          gap: 60px;
        }

        input {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #contacts .container {
    width: 95%;

    .managers__row {
      grid-template-columns: repeat(1, auto);
      gap: 50px;
    }

    .feedback .feedback__form div {
      grid-template-columns: repeat(1, auto);
      gap: 40px !important;

      .inputs div:nth-child(2) {
        margin: 30px 0;
      }

      textarea {
        min-height: 140px;
      }
    }
  }
}

@media (max-width: 425px) {
  #contacts .container {
    iframe {
      height: 300px;
    }
  }
}

@media (max-width: 375px) {
  #contacts .container {
    iframe {
      height: 250px;
    }
  }
}