 $python-color : #60b3ff;
$fullstack-python-color : #FECECF;
$web-color : #A3A3FF;
$fullstack-php-color : #94BFFF;
$frontend-color : #C9C8FF;
$frontend-pro-color : #C4FDEF;
$fullstack-js-color : #FFE64B;
$php-pro-color : #FFF4BB;
$c-plus-plus-color : #CAF4EA;
$android-color : #C5EFD9;
$ios-color : #93E7FF;
$mobile-color : #F0EBFF;
$flutter-color : #D2EBFC;
$java-color : #FFBD59;
$java-pro-color : #D1CAFF;
$cyber-security-color : #00CFA1;
$devops-color : #80CAF2;
$devops-pro-color : #B4DF92;

#courses {
  .content {
    max-width: 1000px;

    .content__item {
      $colors: (
        $fullstack-python-color,
        $web-color,
        $fullstack-php-color,
        $frontend-color,
        $frontend-pro-color,
        $fullstack-js-color,
        $php-pro-color,
        $c-plus-plus-color,
        $android-color,
        $ios-color,
        $mobile-color,
        $flutter-color,
        $java-color,
        $java-pro-color,
        $cyber-security-color,
        $devops-color,
        $devops-pro-color
      );

      @for $i from 1 through length($colors) {
        &:nth-child(#{$i}) {
          background: nth($colors, $i);
        }
      }
    }

    .content__item {
      background: $python-color;

      &:hover {
        transform: scale(1.02);
      }
    }
  }
}

@media (max-width: 1024px) {
  #courses {
    h1 {
      font-size: 45px;
    }

    .content {
      width: fit-content;
      grid-template-columns: repeat(1, 500px);

      .content__item {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 520px) {
  #courses {
    .content {
      grid-template-columns: repeat(1, auto);
      padding: 0 10px;
    }
  }
}

@media (max-width: 425px) {
  #courses {
    h1 {
      font-size: 40px;
    }

    h2 {
      font-size: 22px;
    }

    p {
      font-size: 15px;
    }
  }
}

@media (max-width: 375px) {
  #courses {
    h1 {
      font-size: 35px;
    }

    .content__item {
      height: 150px;

      h2 {
        font-size: 20px;
      }

      p {
        font-size: 14px;
      }

      img {
        width: 90px;
        height: 90px;
      }
    }
  }
}

@media (max-width: 320px) {
 #courses .content__item {
   height: 130px;

   h2 {
     font-size: 18px;
   }

   p {
     font-size: 13px;
   }

   img {
     width: 80px;
     height: 80px;
   }
 }
}
