@import "Courses.module";

#course {
  .container {
    max-width: 1430px;

    #header {
      .header__title {
        background: $python-color;

        h1 {
          color: black !important;
        }

        button {
          background: #3D3BFF;
        }

        &[course=fullstack-python] {
          background: $fullstack-python-color;
        }

        &[course=web] {
          background: $web-color;
        }

        &[course=fullstack-php] {
          background: $fullstack-php-color;
        }

        &[course=frontend] {
          background: $frontend-color;
        }

        &[course=frontend-pro] {
          background: $frontend-pro-color;
        }

        &[course=fullstack-js] {
          background: $fullstack-js-color;
        }

        &[course=php-pro] {
          background: $php-pro-color;
        }

        &[course=c-plus-plus] {
          background: $c-plus-plus-color;
        }

        &[course=android] {
          background: $android-color;
        }

        &[course=ios] {
          background: $ios-color;
        }

        &[course=mobile] {
          background: $mobile-color;
        }

        &[course=flutter] {
          background: $flutter-color;
        }

        &[course=java] {
          background: $java-color;
        }

        &[course=java-pro] {
          background: $java-pro-color;
        }

        &[course=cybersecurity] {
          background: $cyber-security-color;
        }

        &[course=devops] {
          background: $devops-color;
        }

        &[course=devops-pro] {
          background: $devops-pro-color;
        }
      }

      .header__features {
        &[columns='3'] {
          grid-template-columns: repeat(3, auto);
        }

        &[columns='4'] {
          grid-template-columns: repeat(4, auto);
        }

        &[columns='5'] {
          grid-template-columns: repeat(5, auto);
        }

        div {
          border: 3px solid $python-color;

          &[course=fullstack-python] {
            border: 3px solid $fullstack-python-color;
          }

          &[course=web] {
            border: 3px solid $web-color;
          }

          &[course=fullstack-php] {
            border: 3px solid $fullstack-php-color;
          }

          &[course=frontend] {
            border: 3px solid $frontend-color;
          }

          &[course=frontend-pro] {
            border: 3px solid $frontend-pro-color;
          }

          &[course=fullstack-js] {
            border: 3px solid $fullstack-js-color;
          }

          &[course=php-pro] {
            border: 3px solid $php-pro-color;
          }

          &[course=c-plus-plus] {
            border: 3px solid $c-plus-plus-color;
          }

          &[course=android] {
            border: 3px solid $android-color;
          }

          &[course=ios] {
            border: 3px solid $ios-color;
          }

          &[course=mobile] {
            border: 3px solid $mobile-color;
          }

          &[course=flutter] {
            border: 3px solid $flutter-color;
          }

          &[course=java] {
            border: 3px solid $java-color;
          }

          &[course=java-pro] {
            border: 3px solid $java-pro-color;
          }

          &[course=cybersecurity] {
            border: 3px solid $cyber-security-color;
          }

          &[course=devops] {
            border: 3px solid $devops-color;
          }

          &[course=devops-pro] {
            border: 3px solid $devops-pro-color;
          }
        }
      }
    }

    #disclaimer {
      background: #272727;
    }

    #skills .content {
      &[course=fullstack-python] {
        div {
          border: 3px solid $fullstack-python-color;
        }
      }

      &[course=web] {
        div {
          border: 3px solid $web-color;
        }
      }

      &[course=fullstack-php] {
        div {
          border: 3px solid $fullstack-php-color;
        }
      }

      &[course=frontend] {
        div {
          border: 3px solid $frontend-color;
        }
      }

      &[course=frontend-pro] {
        div {
          border: 3px solid $frontend-pro-color;
        }
      }

      &[course=fullstack-js] {
        div {
          border: 3px solid $fullstack-js-color;
        }
      }

      &[course=php-pro] {
        div {
          border: 3px solid $php-pro-color;
        }
      }

      &[course=c-plus-plus] {
        div {
          border: 3px solid $c-plus-plus-color;
        }
      }

      &[course=android] {
        div {
          border: 3px solid $android-color;
        }
      }

      &[course=ios] {
        div {
          border: 3px solid $ios-color;
        }
      }

      &[course=mobile] {
        div {
          border: 3px solid $mobile-color;
        }
      }

      &[course=flutter] {
        div {
          border: 3px solid $flutter-color;
        }
      }

      &[course=java] {
        div {
          border: 3px solid $java-color;
        }
      }

      &[course=java-pro] {
        div {
          border: 3px solid $java-pro-color;
        }
      }

      &[course=cybersecurity] {
        div {
          border: 3px solid $cyber-security-color;
        }
      }

      &[course=devops] {
        div {
          border: 3px solid $devops-color;
        }
      }

      &[course=devops-pro] {
        div {
          border: 3px solid $devops-pro-color;
        }
      }

      div {
        border: 3px solid $python-color;
      }
    }

    #employment {
      background: #272727;

      .container {
        .header__animation {
          grid-column: 2/-1;
          grid-row: 1/-1;

          img {
            animation-duration: 4s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            position: absolute;
          }

          .main {
            width: 240px;
            height: 240px;
          }

          .small {
            width: 70px;
            height: 70px;
          }

          @keyframes top-left {
            from {
              transform: translate(-110px, -180px)
            }
            to {
              transform: translate(-110px, -150px)
            }
          }

          @keyframes bottom-right {
            from {
              transform: translate(110px, 190px)
            }
            to {
              transform: translate(110px, 165px)
            }
          }

          @keyframes top-right {
            from {
              transform: translate(180px, -60px)
            }
            to {
              transform: translate(180px, -40px)
            }
          }

          @keyframes bottom-left {
            from {
              transform: translate(-130px, 90px)
            }
            to {
              transform: translate(-130px, 130px)
            }
          }

          @keyframes aic {
            from {
              transform: translate(115px, -145px)
            }
            to {
              transform: translate(115px, -120px)
            }
          }

          @keyframes mail {
            from {
              transform: translate(-20px, 195px)
            }
            to {
              transform: translate(-20px, 225px)
            }
          }

          @keyframes vk {
            from {
              transform: translate(185px, 110px)
            }
            to {
              transform: translate(185px, 95px)
            }
          }

          @keyframes youla {
            from {
              transform: translate(-190px, -20px)
            }
            to {
              transform: translate(-190px, -50px)
            }
          }

          .top-left {
            animation-name: top-left;
          }

          .bottom-right {
            animation-name: bottom-right;
          }

          .top-right {
            animation-name: top-right;
          }

          .bottom-left {
            animation-name: bottom-left;
          }

          .aic {
            animation-name: aic;
          }

          .mail {
            animation-name: mail;
          }

          .vk {
            animation-name: vk;
          }

          .youla {
            animation-name: youla;
          }
        }

        .guarantees {
          .guarantees__stats {
            grid-row: 1/-1;
            grid-column: 1/2;
            background: white;
            padding: 48px 24px 24px;

            .guarantees__stats-item {
              border: 1px solid black;
              margin-bottom: 12px;

              &:last-child {
                margin-bottom: 0;
              }
            }
          }

          .guarantees__text {
            div:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

      .career-center {
        h1 {
          margin-left: 135px;
        }

        .second {
          background: rgb(220, 244, 254) !important;
        }

        .third {
          background: rgb(175, 223, 180) !important;
        }

        .fourth {
          background: rgb(254, 188, 180) !important;
        }

        .fifth {
          background: rgb(163, 163, 255) !important;
        }

        .career-center__slide {
          width: 336px;
          height: 346px;
          background: rgb(255, 223, 110);
          position: relative;
          margin-left: 17px;

          span {
            background: black;
          }

          &:hover {
            .invisible-text {
              opacity: 1;
              color: black !important;
            }

            .title {
              opacity: 0;
            }
          }
        }
      }

      .reviews {
        h1 {
          margin-left: 135px;
        }

        .reviews__slide {
          width: 470px;
          height: 300px;
          margin-left: 17px;
          background: #353535;

          img:first-child {
            height: 56px;
          }
        }
      }
    }

    #program {
      background: #202020;
      border: 3px solid $python-color;

      &[course=fullstack-python] {
        border: 3px solid $fullstack-python-color;

        .rectangle div {
          border-bottom: 65px solid $fullstack-python-color;
        }

        .program__content .program__content-item {
          border-top: 2px solid $fullstack-python-color;

          &:last-child {
            border-bottom: 2px solid $fullstack-python-color;
          }
        }
      }

      &[course=web] {
        border: 3px solid $web-color;

        .rectangle div {
          border-bottom: 65px solid $web-color;
        }

        .program__content .program__content-item {
          border-top: 2px solid $web-color;

          &:last-child {
            border-bottom: 2px solid $web-color;
          }
        }
      }

      &[course=fullstack-php] {
        border: 3px solid $fullstack-php-color;

        .rectangle div {
          border-bottom: 65px solid $fullstack-php-color;
        }

        .program__content .program__content-item {
          border-top: 2px solid $fullstack-php-color;

          &:last-child {
            border-bottom: 2px solid $fullstack-php-color;
          }
        }
      }

      &[course=frontend] {
        border: 3px solid $frontend-color;

        .rectangle div {
          border-bottom: 65px solid $frontend-color;
        }

        .program__content .program__content-item {
          border-top: 2px solid $frontend-color;

          &:last-child {
            border-bottom: 2px solid $frontend-color;
          }
        }
      }

      &[course=frontend-pro] {
        border: 3px solid $frontend-pro-color;

        .rectangle div {
          border-bottom: 65px solid $frontend-pro-color;
        }

        .program__content .program__content-item {
          border-top: 2px solid $frontend-pro-color;

          &:last-child {
            border-bottom: 2px solid $frontend-pro-color;
          }
        }
      }

      &[course=fullstack-js] {
        border: 3px solid $fullstack-js-color;

        .rectangle div {
          border-bottom: 65px solid $fullstack-js-color;
        }

        .program__content .program__content-item {
          border-top: 2px solid $fullstack-js-color;

          &:last-child {
            border-bottom: 2px solid $fullstack-js-color;
          }
        }
      }

      &[course=php-pro] {
        border: 3px solid $php-pro-color;

        .rectangle div {
          border-bottom: 65px solid $php-pro-color;
        }

        .program__content .program__content-item {
          border-top: 2px solid $php-pro-color;

          &:last-child {
            border-bottom: 2px solid $php-pro-color;
          }
        }
      }

      &[course=c-plus-plus] {
        border: 3px solid $c-plus-plus-color;

        .rectangle div {
          border-bottom: 65px solid $c-plus-plus-color;
        }

        .program__content .program__content-item {
          border-top: 2px solid $c-plus-plus-color;

          &:last-child {
            border-bottom: 2px solid $c-plus-plus-color;
          }
        }
      }

      &[course=android] {
        border: 3px solid $android-color;

        .rectangle div {
          border-bottom: 65px solid $android-color;
        }

        .program__content .program__content-item {
          border-top: 2px solid $android-color;

          &:last-child {
            border-bottom: 2px solid $android-color;
          }
        }
      }

      &[course=ios] {
        border: 3px solid $ios-color;

        .rectangle div {
          border-bottom: 65px solid $ios-color;
        }

        .program__content .program__content-item {
          border-top: 2px solid $ios-color;

          &:last-child {
            border-bottom: 2px solid $ios-color;
          }
        }
      }

      &[course=mobile] {
        border: 3px solid $mobile-color;

        .rectangle div {
          border-bottom: 65px solid $mobile-color;
        }

        .program__content .program__content-item {
          border-top: 2px solid $mobile-color;

          &:last-child {
            border-bottom: 2px solid $mobile-color;
          }
        }
      }

      &[course=flutter] {
        border: 3px solid $flutter-color;

        .rectangle div {
          border-bottom: 65px solid $flutter-color;
        }

        .program__content .program__content-item {
          border-top: 2px solid $flutter-color;

          &:last-child {
            border-bottom: 2px solid $flutter-color;
          }
        }
      }

      &[course=java] {
        border: 3px solid $java-color;

        .rectangle div {
          border-bottom: 65px solid $java-color;
        }

        .program__content .program__content-item {
          border-top: 2px solid $java-color;

          &:last-child {
            border-bottom: 2px solid $java-color;
          }
        }
      }

      &[course=java-pro] {
        border: 3px solid $java-pro-color;

        .rectangle div {
          border-bottom: 65px solid $java-pro-color;
        }

        .program__content .program__content-item {
          border-top: 2px solid $java-pro-color;

          &:last-child {
            border-bottom: 2px solid $java-pro-color;
          }
        }
      }

      &[course=cybersecurity] {
        border: 3px solid $cyber-security-color;

        .rectangle div {
          border-bottom: 65px solid $cyber-security-color;
        }

        .program__content .program__content-item {
          border-top: 2px solid $cyber-security-color;

          &:last-child {
            border-bottom: 2px solid $cyber-security-color;
          }
        }
      }

      &[course=devops] {
        border: 3px solid $devops-color;

        .rectangle div {
          border-bottom: 65px solid $devops-color;
        }

        .program__content .program__content-item {
          border-top: 2px solid $devops-color;

          &:last-child {
            border-bottom: 2px solid $devops-color;
          }
        }
      }

      &[course=devops-pro] {
        border: 3px solid $devops-pro-color;

        .rectangle div {
          border-bottom: 65px solid $devops-pro-color;
        }

        .program__content .program__content-item {
          border-top: 2px solid $devops-pro-color;

          &:last-child {
            border-bottom: 2px solid $devops-pro-color;
          }
        }
      }

      .rectangle {
        width: 65px;
        height: 65px;
        right: -3px;
        top: -68px;

        div {
          border: 65px solid black;
          border-bottom: 65px solid $python-color;
          border-left: 65px;

          &[course=fullstack-python] {
            border-bottom: 65px solid $fullstack-python-color;
          }

          &[course=web] {
            border-bottom: 65px solid $web-color;
          }

          &[course=fullstack-php] {
            border-bottom: 65px solid $fullstack-php-color;
          }

          &[course=frontend] {
            border-bottom: 65px solid $frontend-color;
          }

          &[course=frontend-pro] {
            border-bottom: 65px solid $frontend-pro-color;
          }

          &[course=fullstack-js] {
            border-bottom: 65px solid $fullstack-js-color;
          }

          &[course=php-pro] {
            border-bottom: 65px solid $php-pro-color;
          }

          &[course=c-plus-plus] {
            border-bottom: 65px solid $c-plus-plus-color;
          }

          &[course=android] {
            border-bottom: 65px solid $android-color;
          }

          &[course=ios] {
            border-bottom: 65px solid $ios-color;
          }

          &[course=mobile] {
            border-bottom: 65px solid $mobile-color;
          }

          &[course=flutter] {
            border-bottom: 65px solid $flutter-color;
          }

          &[course=java] {
            border-bottom: 65px solid $java-color;
          }

          &[course=java-pro] {
            border-bottom: 65px solid $java-pro-color;
          }

          &[course=cybersecurity] {
            border-bottom: 65px solid $cyber-security-color;
          }

          &[course=devops] {
            border-bottom: 65px solid $devops-color;
          }

          &[course=devops-pro] {
            border-bottom: 65px solid $devops-pro-color;
          }
        }
      }

      .title .title__count-item div {
        background: white;
      }

      .content {
        &[course=fullstack-python] .content__item {
          border-top: 2px solid $fullstack-python-color;

          &:last-child {
            border-bottom: 2px solid $fullstack-python-color;
          }
        }

        &[course=web] .content__item {
          border-top: 2px solid $web-color;

          &:last-child {
            border-bottom: 2px solid $web-color;
          }
        }

        &[course=fullstack-php] .content__item {
          border-top: 2px solid $fullstack-php-color;

          &:last-child {
            border-bottom: 2px solid $fullstack-php-color;
          }
        }

        &[course=frontend] .content__item {
          border-top: 2px solid $frontend-color;

          &:last-child {
            border-bottom: 2px solid $frontend-color;
          }
        }

        &[course=frontend-pro] .content__item {
          border-top: 2px solid $frontend-pro-color;

          &:last-child {
            border-bottom: 2px solid $frontend-pro-color;
          }
        }

        &[course=fullstack-js] .content__item {
          border-top: 2px solid $fullstack-js-color;

          &:last-child {
            border-bottom: 2px solid $fullstack-js-color;
          }
        }

        &[course=php-pro] .content__item {
          border-top: 2px solid $php-pro-color;

          &:last-child {
            border-bottom: 2px solid $php-pro-color;
          }
        }

        &[course=c-plus-plus] .content__item {
          border-top: 2px solid $c-plus-plus-color;

          &:last-child {
            border-bottom: 2px solid $c-plus-plus-color;
          }
        }

        &[course=android] .content__item {
          border-top: 2px solid $android-color;

          &:last-child {
            border-bottom: 2px solid $android-color;
          }
        }

        &[course=ios] .content__item {
          border-top: 2px solid $ios-color;

          &:last-child {
            border-bottom: 2px solid $ios-color;
          }
        }

        &[course=mobile] .content__item {
          border-top: 2px solid $mobile-color;

          &:last-child {
            border-bottom: 2px solid $mobile-color;
          }
        }

        &[course=flutter] .content__item {
          border-top: 2px solid $flutter-color;

          &:last-child {
            border-bottom: 2px solid $flutter-color;
          }
        }

        &[course=java] .content__item {
          border-top: 2px solid $java-color;

          &:last-child {
            border-bottom: 2px solid $java-color;
          }
        }

        &[course=java-pro] .content__item {
          border-top: 2px solid $java-pro-color;

          &:last-child {
            border-bottom: 2px solid $java-pro-color;
          }
        }

        &[course=cybersecurity] .content__item {
          border-top: 2px solid $cyber-security-color;

          &:last-child {
            border-bottom: 2px solid $cyber-security-color;
          }
        }

        &[course=devops] .content__item {
          border-top: 2px solid $devops-color;

          &:last-child {
            border-bottom: 2px solid $devops-color;
          }
        }

        &[course=devops-pro] .content__item {
          border-top: 2px solid $devops-pro-color;

          &:last-child {
            border-bottom: 2px solid $devops-pro-color;
          }
        }

        .content__item {
          border-top: 2px solid $python-color;

          &:last-child {
            border-bottom: 2px solid $python-color;
          }

          .content__title {
            .rotate {
              transform: rotate(45deg);
            }

            &:hover button {
              color: black;
              background: white;
            }

            button {
              border: 1px solid #B2B2B2;
              color: #B2B2B2;
              transition: 0.2s;
            }
          }

          li:before {
            content: '\2022';
            position: absolute;
            left: 0;
          }
        }
      }

      .disclaimer__icon {
        background: white;
      }
    }

    #projects {
      img {
        width: 670px;
        height: 378px;
      }

      .slider__content {
        max-width: 440px;
      }

      .slider__arrow {
        border: 1px solid white;
        transition: 0.1s;

        &:hover {
          background: white;
          color: black;
        }
      }

      li:before {
        content: "•";
        color: white;
        margin-right: 5px;
      }
    }

    #teachers {
      .extended {
        cursor: pointer;

        &:hover i {
          opacity: 0.4;
        }
      }

      .teacher {
        width: 270px;
        height: 360px;
        background: #F7F7F5;
        color: black;

        img {
          width: 110px;
          height: 128px;
        }

        i {
          transition: 0.1s;
        }
      }
    }

    #cv .content {
      background: #272727;

      .content__skills {
        ul {
          column-count: 2;
        }

        li:before {
          content: "•";
          position: absolute;
          left: 0;
        }

        li {
          padding-left: 15px;
          max-width: 375px;
        }
      }

      .content__skills, .content__projects {
        li {
          margin-bottom: 8px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .content__tool {
        background: white;
      }
    }

    #questions .content {
      width: 700px;

      .show-answer {
        button {
          transform: rotate(180deg);
        }

        .content__text  {
          max-height: 1000px !important;
          padding: 20px;
          margin: 0 2px;
        }
      }

      .content__question {
        background: #272727;

        .content__title:hover button {
          background: white;
          color: black;
        }

        &:first-child {
          border-top-left-radius: 1rem;
          border-top-right-radius: 1rem;
        }

        button {
          background: #141414;
          transition: 0.2s;
        }

        .content__text {
          background: #141414;
          max-height: 0;
          overflow: hidden;
          transition: 0.4s;

          p:not(:last-child) {
            margin-bottom: 15px;
          }

          li:not(:last-child) {
            margin-bottom: 15px;
          }

          ol {
            margin-top: 10px;

            li {
              margin-bottom: 2px !important;

              &:before {
                content: "•";
                margin-right: 5px;
              }
            }
          }

          .simple-list li {
            position: relative;

            &:before {
              content: "•";
              position: absolute;
              left: 0;
            }
          }
        }
      }
    }
  }

  #consultation {
    background: $python-color;

    &[course=fullstack-python] {
      background: $fullstack-python-color;
    }

    &[course=web] {
      background: $web-color;
    }

    &[course=fullstack-php] {
      background: $fullstack-php-color;
    }

    &[course=frontend] {
      background: $frontend-color;
    }

    &[course=frontend-pro] {
      background: $frontend-pro-color;
    }

    &[course=fullstack-js] {
      background: $fullstack-js-color;
    }

    &[course=php-pro] {
      background: $php-pro-color;
    }

    &[course=c-plus-plus] {
      background: $c-plus-plus-color;
    }

    &[course=android] {
      background: $android-color;
    }

    &[course=ios] {
      background: $ios-color;
    }

    &[course=mobile] {
      background: $mobile-color;
    }

    &[course=flutter] {
      background: $flutter-color;
    }

    &[course=java] {
      background: $java-color;
    }

    &[course=java-pro] {
      background: $java-pro-color;
    }

    &[course=cybersecurity] {
      background: $cyber-security-color;
    }

    &[course=devops] {
      background: $devops-color;
    }

    &[course=devops-pro] {
      background: $devops-pro-color;
    }

    .content {
      background: white;

      .error-text {
        color: #FF603F;
      }

      .error {
        background: #FFE7E7 !important;
        border: 1px solid #FF603F !important;
      }

      input {
        background: #F7F7F5;
        padding: 23px 18px 10px;
        border-radius: 10px;
        border: 1px solid #EAEAEA;
        color: black;
      }

      .focus {
        font-size: 11px;
        color: gray;
        transform: translateY(-80%);
      }

      span {
        top: 20px;
        left: 18px;
        transition: 0.2s;
      }

      img {
        width: 20px;
        height: 16px;
      }

      .content__phone-number {
        input {
          border-radius: 0 10px 10px 0;
        }

        .content__selected-country {
          background: #F7F7F5;
          padding: 18px 14px;
          border-radius: 10px 0 0 10px;
          border: 1px solid #EAEAEA;
          border-right: none;

          .arrow-up {
            transform: rotate(180deg);
          }
        }

        .content__countries-list {
          width: 240px;
          padding: 16px 12px;
          bottom: -350px;
          left: 5px;
          background: white;
          border-radius: 10px;

          .active {
            background: #3D3BFF;
            color: white;
          }

          .content__country {
            padding: 8px 12px;
            border-radius: 10px;

            &:last-child {
              margin-bottom: 0;
            }

            div p {
              max-width: 100px;
            }
          }
        }
      }

      button {
        background: #3D3BFF;
      }
    }
  }
}

@media (max-width: 1440px) {
  #course .container {
    width: 100%;

    #header {
      .header__title {
        padding: 40px 140px;

        h1 {
          font-size: 35px;
        }

        p {
          font-size: 16px;
          line-height: 24px;
        }

        button {
          height: 45px;
        }

        img {
          width: 350px;
          height: 350px;
        }
      }

      .header__features {
        &[columns='5'] {
          grid-template-columns: repeat(4, auto);
        }

        h3 {
          font-size: 18px;
        }

        p {
          font-size: 14px;
          line-height: 20px;
        }

        i {
          font-size: 7px;
        }
      }
    }

    #for-who .content {
      grid-template-columns: repeat(2, auto);
    }

    #employment {
      .header {
        grid-template-columns: repeat(1, auto);
        text-align: center;

        .header__animation {
          height: 500px;
          grid-column: 1/-1;
        }

        .header__title {
          margin: auto;
        }
      }

      .career-center h1 {
        margin-left: 0;
        text-align: center;
      }

      .guarantees {
        grid-template-columns: repeat(1, auto);

        .guarantees__stats {
          width: 90%;
          grid-row: 2/2;
          display: flex;
          justify-content: space-between;
          margin: 0 auto 30px;

          .guarantees__stats-title {
            margin: 0;
          }

          .guarantees__stats-item {
            max-width: 280px;
          }
        }

        .guarantees__text h1 {
          text-align: center;
        }
      }

      .reviews h1 {
        text-align: center;
        margin-left: 0;
      }
    }

    #program {
      .title .title__subtitle {
        width: 360px;
      }

      .disclaimer {
        width: 500px;
      }
    }

    #projects {
      h1 {
        text-align: center;
        margin-bottom: 30px;
      }

      .slider {
        width: fit-content;
        grid-template-columns: repeat(1, auto);
        margin: auto;

        img {
          margin: auto;
        }

        .slider__content {
          margin: auto;
          text-align: center;

          .slider__controllers {
            margin: 30px auto auto;
          }
        }
      }
    }

    #cv {
      .content__tools, .content__skills, .content__projects {
        width: fit-content;
        margin: auto;
        flex-direction: column;

        h3 {
          margin: auto auto 20px;
          text-align: center;
        }
      }

      .content .content__skills {
        margin: 60px auto;
      }
    }
  }
}

@media (max-width: 1024px) {
  #course {
    .container {
      #header {
        .header__title {
          flex-direction: column;

          h1 {
            font-size: 40px;
          }

          p {
            font-size: 18px;
          }
        }

        .header__features {
          &[columns='4'], &[columns='5'] {
            grid-template-columns: repeat(3, auto);
          }
        }
      }

      #disclaimer {
        padding: 30px 80px;

        p {
          font-size: 17px;
        }
      }

      #skills .content {
        grid-template-columns: repeat(2,auto);
      }

      #employment {
        .career-center {
          padding: 0 68px;

          .career-center__slide {
            width: 100%;
            height: fit-content !important;
            margin: auto auto 30px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        .guarantees .guarantees__stats {
          width: 100%;
        }

        .reviews .reviews__slide {
          margin: 0 auto 30px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      #program {
        .title {
          flex-direction: column;

          h1 {
            text-align: center;
            margin-bottom: 30px;
          }

          .title__subtitle {
            width: 90%;
            margin: auto;

            p:first-child {
              text-align: center;
            }
          }
        }

        .content .content__item .content__title {
          cursor: none;
        }
      }

      #projects .slider__controllers {
        width: 250px;

        .slider__arrow {
          width: 40px;
          height: 40px;
        }

        div:nth-child(2) {
          font-size: 20px;
        }
      }

      #questions {
        flex-direction: column;
        margin: auto;

        h1 {
          text-align: center;
        }

        .content {
          margin: 50px auto 0;
        }
      }
    }

    #consultation .content {
      grid-template-columns: repeat(1, auto);

      h1 {
        text-align: center;
        margin: auto;
      }

      form {
        max-width: 760px;
        margin: auto;
      }

      button {
        width: 100%;
      }

      .content__agreement {
        text-align: center;
      }
    }
  }
}

@media (max-width: 768px) {
  #course {
    .container {
      #header {
        .header__title {
          padding: 20px 10px;

          h1 {
            font-size: 35px;
          }

          img {
            width: 300px;
            height: 300px;
          }
        }

        .header__features {
          &[columns='3'], &[columns='4'], &[columns='5'] {
            grid-template-columns: repeat(2, auto);
          }
        }
      }

      #disclaimer {
        padding: 30px 40px;
        text-align: center;

        div {
          flex-direction: column;
        }

        p {
          width: 100%;
          margin-top: 20px;
        }
      }

      #market {
        h1 {
          font-size: 42px;
          line-height: 44px;
        }

        p, h3 {
          font-size: 22px;
          line-height: 30px;
        }

        .list {
          grid-template-columns: repeat(1, auto);

          p {
            font-size: 18px;
            line-height: 28px;
          }
        }
      }

      #for-who {
        h1 {
          text-align: center;
          font-size: 38px;
        }

        .content {
          grid-template-columns: repeat(1, auto);

          div {
            text-align: center;
            margin: auto;
          }

          img {
            margin: auto;
          }
        }
      }

      #skills .content {
        grid-template-columns: repeat(1,auto);
      }

      #employment {
        .container {
          padding: 60px 10px;
        }

        .header {
          grid-template-columns: repeat(1, auto);
          text-align: center;

          .header__animation {
            .main {
              width: 210px;
              height: 210px;
            }

            .big {
              width: 105px;
              height: 105px;
            }

            .medium {
              width: 80px;
              height: 80px;
            }

            .small {
              width: 60px;
              height: 60px;
            }

            @keyframes top-left {
              from {
                transform: translate(-90px, -170px)
              }
              to {
                transform: translate(-90px, -140px)
              }
            }

            @keyframes bottom-right {
              from {
                transform: translate(90px, 180px)
              }
              to {
                transform: translate(90px, 155px)
              }
            }

            @keyframes top-right {
              from {
                transform: translate(160px, -50px)
              }
              to {
                transform: translate(160px, -30px)
              }
            }

            @keyframes bottom-left {
              from {
                transform: translate(-110px, 80px)
              }
              to {
                transform: translate(-110px, 120px)
              }
            }

            @keyframes aic {
              from {
                transform: translate(95px, -135px)
              }
              to {
                transform: translate(95px, -110px)
              }
            }

            @keyframes main {
              from {
                transform: translate(0, 185px)
              }
              to {
                transform: translate(0, 215px)
              }
            }

            @keyframes vk {
              from {
                transform: translate(155px, 110px)
              }
              to {
                transform: translate(155px, 95px)
              }
            }

            @keyframes youla {
              from {
                transform: translate(-170px, 10px)
              }
              to {
                transform: translate(-170px, -40px)
              }
            }
          }

          .header__title {
            h1 {
              font-size: 39px;
            }

            p {
              font-size: 17px;
            }
          }
        }

        .career-center {
          padding: 0 10px;
        }

        .guarantees {
          .guarantees__text h1 {
            font-size: 37px;
          }

          .guarantees__stats {
            flex-direction: column;

            .guarantees__stats-title {
              text-align: center;
              margin-bottom: 20px;
            }

            .guarantees__stats-item {
              max-width: 100%;
            }
          }
        }

        .reviews {
          .reviews__slide {
            width: 380px;
            height: 250px;
            padding: 20px;

            img {
              width: 45px !important;
              height: 45px !important;
            }

            p {
              font-size: 15px;
            }

            div:first-child {
              h3 {
                font-size: 18px;
                margin-bottom: 6px;
              }

              p {
                font-size: 13px;
              }
            }
          }
        }
      }

      #program {
        padding: 20px 50px;

        .rectangle {
          width: 50px;
          height: 50px;
          top: -53px;

          div {
            border: 50px solid black;
            border-bottom: 50px solid $python-color;
            border-left: 50px;

            &[course=fullstack-python] {
              border-bottom: 50px solid $fullstack-python-color;
            }

            &[course=web] {
              border-bottom: 50px solid $web-color;
            }

            &[course=fullstack-php] {
              border-bottom: 50px solid $fullstack-php-color;
            }

            &[course=frontend] {
              border-bottom: 50px solid $frontend-color;
            }

            &[course=frontend-pro] {
              border-bottom: 50px solid $frontend-pro-color;
            }

            &[course=fullstack-js] {
              border-bottom: 50px solid $fullstack-js-color;
            }

            &[course=php-pro] {
              border-bottom: 50px solid $php-pro-color;
            }

            &[course=c-plus-plus] {
              border-bottom: 50px solid $c-plus-plus-color;
            }

            &[course=android] {
              border-bottom: 50px solid $android-color;
            }

            &[course=ios] {
              border-bottom: 50px solid $ios-color;
            }

            &[course=mobile] {
              border-bottom: 50px solid $mobile-color;
            }

            &[course=flutter] {
              border-bottom: 50px solid $flutter-color;
            }

            &[course=java] {
              border-bottom: 50px solid $java-color;
            }

            &[course=java-pro] {
              border-bottom: 50px solid $java-pro-color;
            }

            &[course=cybersecurity] {
              border-bottom: 50px solid $cyber-security-color;
            }

            &[course=devops] {
              border-bottom: 50px solid $devops-color;
            }

            &[course=devops-pro] {
              border-bottom: 50px solid $devops-pro-color;
            }
          }
        }

        .title {
          h1 {
            font-size: 40px;
          }

          .title__subtitle {
            p:first-child {
              font-size: 17px;
            }

            .title__counts {
              grid-template-columns: repeat(1, auto);

              .title__count-item {
                margin: auto;

                div {
                  font-size: 15px;
                }

                p {
                  font-size: 15px;
                }
              }
            }
          }
        }

        .content {
          .content__item .content__title {
            font-size: 18px;

            h1 {
              max-width: 250px;
            }
          }

          .content__item-content p {
            width: 95%;
          }

          li {
            font-size: 16px;
            margin-bottom: 20px;
          }
        }

        .disclaimer {
          width: fit-content;
          flex-direction: column;
          margin: 30px auto auto;
          text-align: center;

          div {
            margin-bottom: 10px;
          }
        }
      }

      #projects img {
        height: 300px;
      }

      #cv {
        h1 {
          font-size: 37px;
          line-height: 45px;
        }

        .content__title {
          flex-direction: column;

          div:first-child {
            margin-bottom: 20px;
          }
        }

        .content__tools div {
          width: fit-content;
          flex-wrap: wrap;
        }

        .content .content__skills ul {
          column-count: 1;
          margin: auto;

          li {
            max-width: 100%;
          }
        }
      }

      #questions {
        .content {
          width: 400px;
        }

        .content__question {
          margin: auto auto 4px;

          .content__title h3 {
            max-width: 280px;
            font-size: 16px;
          }

          .content__text {
            font-size: 14px;
          }
        }
      }
    }

    #consultation {
      .content {
        grid-template-columns: repeat(1, auto);

        h1 {
          text-align: center;
          margin: auto;
        }

        form {
          max-width: 420px;
          margin: auto;

          .content__inputs {
            grid-template-columns: repeat(1, auto);
          }

          .content__phone-number .content__input {
            width: 88%;
          }
        }
      }
    }
  }
}

@media (max-width: 425px) {
  #course {
    .container {
      #header {
        .header__title {
          h1 {
            font-size: 30px;
          }

          p {
            font-size: 16px;
          }

          button {
            height: 40px;
            font-size: 16px;
          }

          img {
            width: 270px;
            height: 270px;
          }
        }

        .header__features {
          &[columns='3'], &[columns='4'], &[columns='5'] {
            grid-template-columns: repeat(1, auto);
          }
        }
      }

      #disclaimer {
        padding: 30px;
      }

      #market {
        h1 {
          font-size: 40px;
          line-height: 50px;
        }

        .subtitle {
          margin: 50px 0;
        }

        p, h3 {
          font-size: 19px;
          line-height: 28px;
        }

        .list p {
          font-size: 16px;
          line-height: 24px;
          margin-top: 8px;
        }
      }

      #for-who h1 {
        font-size: 36px;
        line-height: 50px;
      }

      #employment {
        .header {
          .header__animation {
            .main {
              width: 190px;
              height: 190px;
            }

            .big {
              width: 95px;
              height: 95px;
            }

            .medium {
              width: 70px;
              height: 70px;
            }

            .small {
              width: 50px;
              height: 50px;
            }

            @keyframes top-left {
              from {
                transform: translate(-80px, -150px)
              }
              to {
                transform: translate(-80px, -120px)
              }
            }

            @keyframes bottom-right {
              from {
                transform: translate(80px, 160px)
              }
              to {
                transform: translate(80px, 135px)
              }
            }

            @keyframes top-right {
              from {
                transform: translate(140px, -30px)
              }
              to {
                transform: translate(140px, 10px)
              }
            }

            @keyframes bottom-left {
              from {
                transform: translate(-100px, 60px)
              }
              to {
                transform: translate(-100px, 100px)
              }
            }

            @keyframes aic {
              from {
                transform: translate(85px, -115px)
              }
              to {
                transform: translate(85px, -90px)
              }
            }

            @keyframes mail {
              from {
                transform: translate(-30px, 165px)
              }
              to {
                transform: translate(-30px, 195px)
              }
            }

            @keyframes vk {
              from {
                transform: translate(135px, 100px)
              }
              to {
                transform: translate(135px, 85px)
              }
            }

            @keyframes youla {
              from {
                transform: translate(-150px, -30px)
              }
              to {
                transform: translate(-150px, -10px)
              }
            }
          }

          .header__title {
            h1 {
              font-size: 35px;
            }

            p {
              font-size: 16px;
            }
          }
        }

        .career-center {
          h1 {
            font-size: 28px;
          }

          .career-center__slide {
            h3 {
              font-size: 20px;
            }

            span {
              width: 38px;
              height: 38px;

              i {
                font-size: 18px;
              }
            }

            p {
              font-size: 16px;
            }
          }
        }

        .guarantees {
          .guarantees__text {
            h1 {
              font-size: 32px;
            }

            h3 {
              font-size: 18px;
            }

            p {
              font-size: 15px;
            }
          }

          .guarantees__stats {
            .guarantees__stats-title {
              h1 {
                font-size: 40px;
              }

              h3 {
                font-size: 18px;
              }
            }

            .guarantees__stats-item {
              h1 {
                font-size: 28px;
              }

              p {
                font-size: 14px;
              }
            }
          }
        }

        .reviews {
          h1 {
              font-size: 28px;
          }

          .reviews__slide {
            width: 340px;
            height: 220px;
            padding: 15px;

            img {
              width: 40px;
              height: 40px;
              margin-right: 15px;
            }

            p {
              font-size: 14px;
            }

            div:first-child {
              margin-bottom: 10px;

              h3 {
                font-size: 16px;
                margin-bottom: 5px;
              }

              p {
                font-size: 12px;
              }
            }
          }
        }
      }

      #program {
        .title {
          h1 {
            font-size: 35px;
          }

          .title__subtitle {
            p:first-child {
              font-size: 16px;
            }

            .title__counts .title__count-item:first-child {
              margin-bottom: 10px;
            }
          }
        }
      }

      #projects img {
        height: 250px;
      }

      #cv h1 {
        font-size: 32px;
      }

      #questions {
        .content {
          width: 350px;
        }

        .content__question .content__title h3 {
          max-width: 260px;
        }
      }
    }

    #consultation {
      h1 {
        font-size: 28px;
      }

      .content {
        input {
          height: 45px;
          padding: 23px 18px 10px;
        }

        span {
          top: 15px;
          left: 18px;
          transition: 0.2s;
        }

        .content__phone-number .content__selected-country {
          height: 45px;
        }

        button {
          height: 45px;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  #course {
    .container {
      #header {
        .header__title {
          p {
            font-size: 15px;
          }

          button {
            font-size: 15px;
          }

          img {
            width: 250px;
            height: 250px;
          }
        }
      }

      #disclaimer {
        padding: 30px 20px;
      }

      #employment {
        .header {
          .header__animation {
            .main {
              width: 180px;
              height: 180px;
            }

            .big {
              width: 80px;
              height: 80px;
            }

            .medium {
              width: 60px;
              height: 60px;
            }

            .small {
              width: 40px;
              height: 40px;
            }

            @keyframes top-left {
              from {
                transform: translate(-80px, -130px)
              }
              to {
                transform: translate(-80px, -100px)
              }
            }

            @keyframes bottom-right {
              from {
                transform: translate(60px, 140px)
              }
              to {
                transform: translate(60px, 115px)
              }
            }

            @keyframes top-right {
              from {
                transform: translate(130px, -20px)
              }
              to {
                transform: translate(130px, 0px)
              }
            }

            @keyframes bottom-left {
              from {
                transform: translate(-90px, 90px)
              }
              to {
                transform: translate(-90px, 60px)
              }
            }

            @keyframes aic {
              from {
                transform: translate(85px, -95px)
              }
              to {
                transform: translate(85px, -70px)
              }
            }

            @keyframes mail {
              from {
                transform: translate(-30px, 135px)
              }
              to {
                transform: translate(-30px, 165px)
              }
            }

            @keyframes vk {
              from {
                transform: translate(105px, 90px)
              }
              to {
                transform: translate(105px, 75px)
              }
            }

            @keyframes youla {
              from {
                transform: translate(-130px, -40px)
              }
              to {
                transform: translate(-130px, 0)
              }
            }
          }
        }

        .career-center .career-center__slide {
          h3 {
            font-size: 17px;
          }

          span {
            width: 36px;
            height: 36px;

            i {
              font-size: 17px;
            }
          }

          p {
            font-size: 15px;
          }
        }

        .guarantees {
          .guarantees__text {
            h1 {
              font-size: 27px;
            }

            h3 {
              font-size: 17px;
            }

            p {
              font-size: 14px;
            }
          }

          .guarantees__stats {
            .guarantees__stats-title {
              h1 {
                font-size: 38px;
              }

              h3 {
                font-size: 16px;
              }
            }

            .guarantees__stats-item h1 {
              font-size: 26px;
            }
          }
        }

        .reviews {
          h1 {
            font-size: 24px;
          }

          .reviews__slide {
            width: 290px;
            height: 200px;

            p {
              font-size: 13px;
            }

            div:first-child {
              margin-bottom: 8px;

              h3 {
                font-size: 15px;
                margin-bottom: 0;
              }

              p {
                font-size: 11px;
              }
            }
          }
        }
      }

      #program {
        padding: 20px 30px;

        .rectangle {
          width: 30px;
          height: 30px;
          top: -33px;

          div {
            border: 30px solid black;
            border-bottom: 30px solid $python-color;
            border-left: 30px;

            &[course=fullstack-python] {
              border-bottom: 30px solid $fullstack-python-color;
            }

            &[course=web] {
              border-bottom: 30px solid $web-color;
            }

            &[course=fullstack-php] {
              border-bottom: 30px solid $fullstack-php-color;
            }

            &[course=frontend] {
              border-bottom: 30px solid $frontend-color;
            }

            &[course=frontend-pro] {
              border-bottom: 30px solid $frontend-pro-color;
            }

            &[course=fullstack-js] {
              border-bottom: 30px solid $fullstack-js-color;
            }

            &[course=php-pro] {
              border-bottom: 30px solid $php-pro-color;
            }

            &[course=c-plus-plus] {
              border-bottom: 30px solid $c-plus-plus-color;
            }

            &[course=android] {
              border-bottom: 30px solid $android-color;
            }

            &[course=ios] {
              border-bottom: 30px solid $ios-color;
            }

            &[course=mobile] {
              border-bottom: 30px solid $mobile-color;
            }

            &[course=flutter] {
              border-bottom: 30px solid $flutter-color;
            }

            &[course=java] {
              border-bottom: 30px solid $java-color;
            }

            &[course=java-pro] {
              border-bottom: 30px solid $java-pro-color;
            }

            &[course=cybersecurity] {
              border-bottom: 30px solid $cyber-security-color;
            }

            &[course=devops] {
              border-bottom: 30px solid $devops-color;
            }

            &[course=devops-pro] {
              border-bottom: 30px solid $devops-pro-color;
            }
          }
        }

        .title {
          h1 {
            font-size: 32px;
          }

          .title__subtitle {
            p:first-child {
              font-size: 15px;
            }

            .title__counts .title__count-item {
              width: 170px;

              div {
                width: 55px;
                height: 35px;
                font-size: 14px;
              }

              p {
                font-size: 14px;
              }

              &:first-child {
                margin-bottom: 10px;
              }
            }
          }
        }

        .content {
          .content__item .content__title {
            font-size: 16px;

            h1 {
              max-width: 200px;
            }

            button {
              width: 30px;
              height: 30px;
            }
          }

          li {
            font-size: 15px;
            margin-bottom: 20px;
          }
        }

        .disclaimer {
          .disclaimer__icon {
            width: 35px;
            height: 35px;
          }

          h3 {
            font-size: 17px;
          }

          p {
            font-size: 14px;
          }
        }
      }

      #projects img {
        height: 220px;
      }

      #cv h1 {
        font-size: 27px;
      }

      #questions {
        .content {
          width: 300px;
        }

        .content__question .content__title h3 {
          max-width: 220px;
        }
      }
    }
  }
}
