$linearGradientColor : linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
$pink: #f92552;

#home {
  @keyframes lds-ring {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .lds-ring {
    width: 110px;
    height: 110px;

    div {
      position: absolute;
      width: 94px;
      height: 94px;
      margin: 8px;
      border: 12px solid mediumpurple;
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: mediumpurple transparent transparent transparent;

      &:nth-child(1) {
        animation-delay: -0.45s;
      }

      &:nth-child(2) {
        animation-delay: -0.3s;
      }

      &:nth-child(3) {
        animation-delay: -0.15s;
      }
    }
  }

  #timer .timer__item {
    background: #121212;
  }

  #booking {
    background: #121212;

    .booking__container {
      @keyframes gradientAnimation {
        0%{ background-position: 0 50% }
        50%{ background-position: 100% 50% }
        100%{ background-position: 0 50% }
      }

      a {
        background: $linearGradientColor;
        background-size: 200% 200%;
        transition: 300ms;

        &:hover {
          background-position: 100% 50%
        }
      }

      .booking__progress-bar {
        width: 715px;

        div:first-child {
          background: $linearGradientColor
        }
      }
    }
  }

  .container {
    max-width: 1310px;

    .title-column {
      flex-direction: column;
      text-align: center;

      h1 {
        margin: 75px 0 30px !important;
      }
    }

    .title-block {
      margin: 0 auto 90px;

      h1 {
        margin-left: 50px;
      }
    }

    #about-us .img-container {
      width: 550px;
      height: 520px;
      border: 30px solid #9370db;

      img {
        bottom: -75px;
      }
    }

    #partners {
      .border-right-none {
        border-right: 0 !important;
      }

      .border-bottom-none {
        border-bottom: 0 !important;
      }

      .partners__partner {
        border-right: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);

        &:last-child {
          border: none;
        }
      }
    }

    #training-program {
      .content__column {
        &:last-child .content__item {
          text-align: left;

          div {
            margin-left: 35px;
            margin-right: 0 !important;
          }
        }

        .content__item {
          &:last-child {
            margin-bottom: 0;
          }

          hr {
            background: rgba(255, 255, 255, 0.3);
          }
        }
      }

      .content__line {
        height: 677px;
        background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
      }
    }

    #news {
      input {
        width: 340px;
        background: rgba(255, 255, 255, 0.25);
      }

      button {
        background: $linearGradientColor;
      }

      a {
        background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
        transition: 300ms;

        &:hover {
          transform: translateY(-10px);
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  #home {
    #booking {
      height: fit-content;

      .booking__container {
        flex-direction: column;
      }
    }

    .container {
      #about-us {
        flex-direction: column;

        div:last-child {
          text-align: center;
          margin-top: 80px;
        }

        p {
          font-size: 18px;
        }
      }

      #about-courses {
        .content {
          width: fit-content;
          grid-template-columns: repeat(2, 450px);
          margin: 112px auto auto;
          gap: 50px;
        }

        .content > :nth-child(n + 3) {
          grid-column: 1 / -1;
        }
      }

      #partners .partners__logos {
        grid-template-columns: repeat(3, auto);

        .partners__partner:nth-child(4), .partners__partner:nth-child(8) {
          border-right: 1px solid rgba(255, 255, 255, 0.3) !important;
        }

        .partners__partner:nth-child(5), .partners__partner:nth-child(6) {
          border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
        }

        .partners__partner:nth-child(3), .partners__partner:nth-child(6) {
          border-right: none !important;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  #home .container {
    #about-courses .content {
      grid-template-columns: repeat(1, 700px);
    }

    #partners .partners__logos {
      grid-template-columns: repeat(2, auto);

      .partners__partner:nth-child(3) {
        border-right: 1px solid rgba(255, 255, 255, 0.3) !important;
      }
    }
  }
}

@media (max-width: 768px) {
  #home {
    .lds-ring {
      width: 90px;
      height: 90px;

      div {
        width: 75px;
        height: 75px;
      }
    }

    #timer {
      margin: 150px auto;

      h1 {
        font-size: 44px;
      }

      .timer__row .timer__item {
        width: 95px;
        height: 95px;

        span {
          font-size: 29px;
        }

        p {
          font-size: 14px;
        }
      }
    }

    #booking {
      a {
        font-size: 15px;
      }

      .booking__students-counter {
        width: 290px;

        div p {
          font-size: 15px;
        }
      }

      .booking__container .booking__progress-bar {
        width: 420px;
      }
    }

    .container {
      padding: 0 10px;

      .title-block {
        width: 420px;

        h1 {
          font-size: 40px;
        }
      }

      #about-us {
        .img-container {
          width: 420px;
          height: 400px;

          img {
            bottom: -65px;
          }
        }

        h1 {
          font-size: 40px;
          margin-bottom: 40px;
        }

        p {
          font-size: 17px;
        }
      }

      #about-courses {
        h1 {
          font-size: 40px;
        }

        .content {
          grid-template-columns: repeat(1, auto);
        }
      }

      #partners .partners__logos {
        grid-template-columns: repeat(1, auto);

        .partners__partner, .partners__partner:nth-child(3), .partners__partner:nth-child(4) {
          border-right: none !important;
          border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
        }

        .partners__partner:last-child {
          height: 112px;
          border-right: none !important;
        }
      }

      #training-program {
        .content .content__line {
          width: 5px;
          height: 1200px;
        }

        .content__column .content__item {
          width: 210px;

          div {
            margin-right: 20px;

            h4 {
              font-size: 10px;
            }

            p {
              font-size: 12px;
            }
          }

          hr {
            width: 25px;
          }
        }
      }

      #news {
        h1 {
          font-size: 40px;
        }

        h3 {
          margin: 20px 0 50px;
          font-size: 15px;
        }
      }
    }

    footer {
      font-size: 16px;
    }
  }
}

@media (max-width: 425px) {
  #home {
    #timer {
      margin: 130px auto;

      h1 {
        font-size: 38px;
        line-height: 130%;
      }

      .timer__row .timer__item {
        width: 80px;
        height: 80px;

        span {
          font-size: 25px;
        }

        p {
          font-size: 13px;
        }
      }
      }

    #booking {
      a {
        font-size: 13px;
        padding: 10px 20px;
      }

      .booking__students-counter {
        width: 270px;

        div p {
          font-size: 14px;
        }
      }

      .booking__container .booking__progress-bar {
        width: 370px;
      }
    }

    .container {
      .title-block {
        width: 300px;

        h1 {
          font-size: 33px;
        }
      }

      #about-us {
        .img-container {
          width: 370px;
          height: 350px;
          border: 25px solid #9370db;

          img {
            bottom: -60px;
          }
        }

        h1 {
          font-size: 35px;
          margin-bottom: 35px;
        }

        p {
          font-size: 16px;
          line-height: 24px;
          margin-top: 30px;
        }
      }

      #about-courses h1 {
        font-size: 30px;
      }

      #training-program {
        .content__column .content__item {
          width: 300px;
          height: fit-content;

          div {
            margin-right: 25px;

            h4 {
              font-size: 14px;
            }

            p {
              font-size: 16px;
            }
          }

          hr {
            width: 35px;
          }
        }
      }

      #news {
        h1 {
          font-size: 35px;
        }

        h3 {
          font-size: 14px;
        }

        input {
          width: 310px;
        }

        a {
          width: 45px;
          height: 45px;
          font-size: 18px;
        }
      }
    }

    footer {
      font-size: 14px;
    }
  }
}

@media (max-width: 375px) {
  #home {
    .lds-ring {
      width: 65px;
      height: 65px;

      div {
        width: 65px;
        height: 65px;
      }
    }

    #timer {
      margin: 120px auto;

      h1 {
        font-size: 33px;
      }

      .timer__row {
        grid-template-columns: repeat(2, auto);
        gap: 40px;
      }
    }

    #booking {
      .booking__students-counter {
        width: 250px;

        div p {
          font-size: 13px;
        }
      }

      .booking__container .booking__progress-bar {
        width: 310px;
      }
    }

    .container {
      .title-block {
        width: 300px;

        h1 {
          font-size: 30px;
        }
      }

      #about-us {
        .img-container {
          width: 320px;
          height: 300px;
          border: 20px solid #9370db;

          img {
            bottom: -50px;
          }
        }

        h1 {
          font-size: 30px;
          margin-bottom: 30px;
        }

        p {
          font-size: 15px;
        }
      }

      #about-courses {
        h1 {
          font-size: 29px;
        }

        .content {
          margin-top: 70px;
        }

        img {
          width: 90px;
          height: 90px;
        }

        h3 {
          font-size: 20px;
          margin: 40px 0 10px;
        }

        p {
          font-size: 15px;
        }
      }

      #partners .partners__partner {
        width: 90%;
        margin: auto;
      }

      #training-program .content .content__column .content__item {
        width: 270px;

        h4 {
          font-size: 13px;
        }

        p {
          font-size: 15px;
          margin-top: 8px;
        }
      }

      #news {
        h1 {
          font-size: 30px;
        }

        h3 {
          font-size: 13px;
        }

        input {
          width: 300px;
        }

        .social-networks {
          margin: 40px auto 0;

          a {
            width: 40px;
            height: 40px;
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  #home {
    #booking .booking__container .booking__progress-bar {
      width: 275px;
    }

    .container {
      .lds-ring {
        width: 65px;
        height: 65px;

        div {
          width: 65px;
          height: 65px;
          border: 10px solid mediumpurple;
          border-color: mediumpurple transparent transparent transparent;
        }
      }

      .title-block {
        width: 270px;

        h1 {
          font-size: 30px;
        }
      }

      #about-us {
        .img-container {
          width: 270px;
          height: 270px;
          border: 16px solid #9370db;

          img {
            width: 210px;
            height: 210px;
            bottom: -40px;
          }
        }

        h1 {
          line-height: 40px;
        }
      }

      #partners .partners__partner {
        width: 260px;
      }

      #training-program .content .content__column .content__item {
        width: 250px;

        h4 {
          font-size: 12px;
        }

        p {
          font-size: 14px;
          line-height: 20px;
          margin-top: 6px;
        }
      }

      #news {
        input {
          width: 90%;
          padding: 10px 0 10px 20px;
        }

        button {
          font-size: 14px;
          letter-spacing: 0.5px;
          padding: 6px 20px;
        }
      }
    }
  }
}
