#wrapper {
  min-height: 100vh;
  background: black;
  font-family: "Roboto", sans-serif;
  opacity: 0.9;

  header {
    .active {
      color: mediumpurple !important;
    }

    a {
      transition: 300ms;

      &:not(.active):hover {
        transform: scale(1.2);
        color: mediumpurple;
      }
    }

    @keyframes gradientAnimation {
      0%{ background-position: 0 50% }
      50%{ background-position: 100% 50% }
      100%{ background-position: 0 50% }
    }

    .office-btn {
      background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
      background-size: 400% 400%;

      &:hover {
        animation: gradientAnimation 1.5s ease infinite;
      }
    }
  }

  footer {
    background: #242424;
  }
}

@media screen and (max-width: 1024px) {
  #wrapper header {
    flex-direction: column;
    gap: 40px;

    .show-nav {
      height: 200px !important;
    }

    nav {
      height: 40px;
      overflow: hidden;

      button {
        display: block;
        font-size: 36px;
        margin-bottom: 20px;
      }
    }

    ul {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }

    a {
      font-size: 20px;

      &:hover {
        transform: none;
      }
    }

    .office-btn:hover {
      animation: none !important;
    }
  }
}

@media screen and (max-width: 425px) {
  #wrapper header {
    img {
      width: 35px;
      height: 35px;
    }

    nav button {
      font-size: 30px;
    }

    a {
      font-size: 18px;
    }

    .office-btn {
      font-size: 15px;
    }
  }

  .ReactModal__Overlay {
    .ReactModal__Content {
      padding: 30px 50px !important;
    }

    img {
      width: 120px;
      height: 150px;
    }

    h2 {
      font-size: 28px;
    }

    li, p {
      font-size: 16px;
    }

    button {
      i {
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .ReactModal__Overlay {
    .ReactModal__Content {
      padding: 30px 40px !important;
    }

    img {
      width: 100px;
      height: 130px;
    }

    h2 {
      font-size: 24px;
    }

    li, p {
      font-size: 15px;
    }

    button {
      width: 30px;
      height: 30px;

      i {
        font-size: 18px;
      }
    }
  }

  #wrapper footer {
    padding: 25px 10px;
  }
}

@media screen and (max-width: 320px) {
  #wrapper header .office-btn {
    padding: 6px 20px;
  }
}
