@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent !important;

  img {
    width: 155px;
    height: 180px;
  }

  li:before {
    content: "•";
    color: black;
    margin-right: 5px;
  }

  button {
    background: #EDECEA;
  }
}
